.contenu {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}
body {
	background: url("../design/mur-briques.png");
}
.percent-count{
	text-align: center;
	height: 50px;
	width:100%;
	flex: 1;
	margin-top: 2%;
}
.progressbar {
	background-color: #bbb;
	height: 15px;
	width:70%;
	border-radius: 0.5em;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
	flex: 1;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 3%;
}
.progress {
	height: 14px;
	width:65%;
	border-radius: 0.4em;
	background-color: #FCEE21;
}
#ananas {
	width: 600px;
	height: 500px;
	flex: 1;
	margin: auto;
	background: url('Fichier 1@4x.png') no-repeat center;
}