@media (min-width: 992px)
{/**Pour écrans moyens type tablettes**/
	.container-fluid
	{
		width: 970px;
		
	}
	h1
	{
		font-size: 3.5em;
	}
	h2
	{
		font-size: 2em;
	}
	h3
	{
		font-size: 0.9em;
	}
	/**Header**/
	header
	{
		height: 500px;
	}
	.navbar
	{
		font-size: 1em;
	}
	.navbar-text
	{
		margin-top: 15px;
	}
	.navbar-nav a
	{
		text-decoration: none;
		color: white;
		font-size: 1em;
	}
	#titre
	{
		height: 370px;
	}
	#titre p
	{
		font-size: 1.2em;
	}
	#video
	{
		font-size: 1em;
	}
	.intro-video
	{
		font-size: 1.2em;
	}
	.bouton-orange
	{
		font-size: 1.2em;
		height: 40px;
		width: 150px;
		color: white;
		
	}

	/**Partie 1 Welcome**/
	#welcome_fusion
	{
		height: 200px;
		padding-top: 50px;
	}
	#welcome p
	{
		font-size: 1em;
	}
	#welcome h3
	{
		font-size: 1.2em;
	}

	#colonnes
	{
		padding-top: 50px;
	}

	/**Partie 2 Destination**/
	.pays
	{
		width: 230px;
		height: 230px;
	}
	.pays p
	{
		padding-top: 20px;
	}
	#fleche2, #fleche1
	{
		line-height: 450px;
	}
	#pays-list
	{
		height: 500px;
		margin-bottom: 30px;
	}
	
	/**Partie 3 Blog**/
	#blog h2
	{
		padding-top: 50px;
	}
	#blog h3
	{
		margin:10px;
	}
	.blogtext
	{
		margin-bottom: 50px;
		background: url("images/Shape3.png") no-repeat top;
	}
	.para
	{
		font-size: 1em;
	}
	#grossephoto
	{
		width: 85%;
	}
	.istambul
	{
		margin-top: 25px;
		height: 170px;
		padding: 0;
		width: 320px;
	}
	.photo
	{
		width: 140px;
	}
	.bali1 p,.bali2 p, .istambul_text p
	{
		font-size: 0.8em;
		margin-left: 10px;
	}
	.china
	{
		margin-top: 25px;
		padding: 0;
	}
	
	.bali1, .bali2
	{
		height: 230px;
	}
	.bali1
	{
		margin-right: -40px;
	}
	.bali2
	{
		margin-top: 65px;
	}
	.villes
	{
		margin-left: 25px;
	}
	.bouton-centre
	{
		margin-top: 60px;
	}

	/*Travail sur la 4eme section: temoignage*/
	.temoignage-para
	{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.temoignage-text 
	{
		width: 650px;
	}
	/*Travail sur la derniere section: discount*/
	#discountrow h3
	{
		font-size: 1.8em;
		margin-bottom: 0;
		margin-top: 10px;
	}
	#discount
	{
		margin-top: 50px;
	}
	#discount .container-fluid
	{
		height: 100px;
	}
	#offer
	{
		font-size: 1.5em;
		height: 50px;
		width: 200px;
	}
	/*Travail sur le pied de page*/
	footer
	{
		margin-top: 50px;
		height: 200px;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 0.9em
	}

	
}