img
{
	transform: scale(0.7);

}
body
{
	background: url("images/capiton.jpg")repeat-x;
}
h1
{
	font-weight: bold;
	color: white;
	font-size: 2.5em;
	background-image: linear-gradient(to bottom, rgb(128,0,0),rgb(202,0,0),rgb(255,43,43))
}
p
{
	font-size: 1.5em;
}