/**************************************************************************************************************************/
/*************									SMALL SMARTPHONE SCREENS			    ***********************************/
/**************************************************************************************************************************/
@media (max-width: 767px)
{/**For small creens of smartphones**/
	.container-fluid, .container
	{
		width: auto;
		margin: auto;
	}
	
	header
	{
		background-image: repeating-linear-gradient(#031D44, #C9DDFF);
		height: 100vh;
		width: auto;
	}
	h1
	{
		font-size: 3em;
		height: 70px;
		margin-bottom: 50px;

	}
	h2
	{
		font-size: 2.5em;
		margin-bottom: 50px;
		font-weight: bold;
		color: #031D44;
		border-bottom: dotted 3px #FFA1B5;
		text-align: center;
	}
	section
	{
		margin-bottom: 50px;
	}
/*Work on the navigation bar*/
	.container
	{
		height: 100px;
	}
	#hautDePage
	{
		position: fixed;
		width: 100%;
		background-color: #031D44;
		height: 60px;
	}
	.container>.navbar-collapse
	{
		text-align: center;
		margin: 0;
		padding: 0;
	}
	.btn-navbar
	{
		position: fixed;
		z-index: 11;
	}
	.navbar
	{
		z-index: 10;
		background-color: transparent;
	}
	.navbar-nav
	{
		display: inherit;
		margin: auto;
	}

	.navbar-header{
		height: 60px;
	}

	.navbar-brand
	{
		font-size: 2em;
		color: #FFA1B5;
		text-align: center;
		width: 100%;
		border-bottom: 1px solid #FFA1B5;
		height: 60px;
	}
	.navbarbrand a
	{
		font-size: 2.4em;
		color: #FFA1B5;
		padding: 10px;
		height: 60px;
		text-align: center;
	}
	.navbarbrand a:hover
	{
		background-color: transparent !important;
		color: white;
	}
	.navigation
	{
		background-color: #031D44;
	}
	.navigation ul li
	{
		font-size: 2em;
		margin-top: 10px;
	}
	.navbar-nav>li>a
	{
		line-height: 40px;
		color: #FFA1B5;
	}
	.navbar-nav a:hover
	{
		color:  white!important;
		background-color: #04395e !important;
	}
	.li-drop, .dropA{
		height: 45px !important;
	}
	.dropA{
		background-color: transparent !important;
	}
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80vh;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
	}
	#btnTop
	{
		top: 85%;
		left: 85%;
	}
	.bubbleSide i{
		left: 85%;
	}
/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox2 
	{
		text-align: center;
	}
	#introTxt p, #introTxt h2
	{
		width: 100%;
	}
	
	#introTxt p
	{
		font-size: 1.3em;
	}
	#container-numbers
	{
		margin-bottom: 50px;
		height: auto;
	}
	.num2
	{
		background-color: #C9DDFF ;
	}
	#numbers
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	/********************************Work on the section work****************************************/
	.bloc{
		width:100%;
		margin: 0;
	}
	.workProjects{
		flex-direction: column;
	}
	.workProjects img{
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.modal-body{
		flex-direction: column;
	}
	.modal-title{
		text-align: center;
		width: 100%;
	}

	/*For mogo project*/
	.img-desktop, .mogo-illustrations .img-mogo, #dsk_mogo{
		width: 250px;
		height: 100%;
	}
	#project_txt_mogo{
		flex-direction: row;
		height: auto;
		padding:20px;
		justify-content: center;
	}
	#modal-body-mogo{
		height: 400px;
	}
/********************************Work on the section skills****************************************/
	.skillsSquare
	{
		height: 370px;
		text-align: center;
		margin-bottom: 50px;
		width: 100%;
	}
	.animDev
	{
		text-align: center;
		justify-content: center;
		background-color: #04395e;
		color: white;
		height: 50px;
		margin-top: 10%;

	}
	.animDev p
	{
		width: 100%;
		font-size: 1.5em;
	}
	.skillsSquare h3
	{
		font-size: 1.8em;
		margin-bottom: 30px;
	}
	.squares
	{
		margin-bottom: 10px ;
		justify-content: flex-start;
	}
	.squares p
	{
		font-size: 0.8em;
		margin-right: 20px;
	}
	.squares .colour1, .squares .colour2
	{
		width: 20px;
		height: 20px;
		margin:0;
	}

	.skillsSquare .visible-xs
	{
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		padding-top: 10px;
		overflow: hidden;
	}
	.visible-xs
	{
		text-align: center;
		text-align: -webkit-center;
	}
	.skills p, .squares
	{
		width: 50%;
	}

/********************************Work on the section Blog****************************************/
	#blogTitre{
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}
	#blogHome{
		flex-direction: column;
		width: 100%;
		margin: auto;
		align-items: center;
		justify-content: center;
	}
	#blogHome img{
		width: 100%;
		height: 100%;
	}
	.blogHomeDetails{
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 30px;
	}
/********************************Work on the section contact****************************************/
	#footer-social
	{
		flex-direction: row;
	}
	#footer-social .fa
	{
		margin: 10px;

	}
	form
	{
		width: 100%;
		text-align: center;
		align-items: center;
	}
	form input, form textarea{
		width: 100%;
	}
	form label, form input, form textarea
	{
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 1.2em;
	}
}
/***********************************************************************************************************************************/
/*************									SMARTPHONE SCREENS						********************************************/
/***********************************************************************************************************************************/

@media (min-width: 768px)
{/**For small screens like smartphones **/
	.container-fluid
	{
		width: 750px;
	}
	.btn-navbar
	{
		display: none;
	}
	h1
	{
		font-size: 3em;
	}
	h2
	{
		font-size: 2.5em;
		margin-bottom: 50px;
		font-weight: bold;
		color: #031D44;
		border-bottom: none;
		text-align: center;
	}
	h3
	{
		font-size: 2em;
	}
	h4
	{
		font-size: 1.5em;
	}
	section
	{
		margin-bottom: 100px; 
	}
	/******************Header and nav**************/
	header
	{
		height: 100vh;
	}
	.container
	{
		height: 50px;
		width: 750px;
	}
	#hautDePage
	{
		display: flex;
		justify-content: center;
		align-content: center;
		height: 60px;
	}
	.navbar
	{
		position: fixed;
	}
	.navbar-nav{
		position: absolute;
		right: 0;
		width: 80%;
		height: 60px;
	}

	#navig{
		position: absolute;
		right: 0;
	}
	.navbar-header{
		position: absolute;
		left: 20px;
	}
	.navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	}
	.navbarbrand a
	{
		font-size: 43px;
		color: #031D44 !important;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		height: 100%;
		width: 130px;
		text-align: center;
		line-height: 60px;
	}
	.navbar-nav>li>a{
		padding: 0;
		line-height: 60px;
		vertical-align: middle;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 10px;

	}
	#btnTop
	{
		top: 85%;
		left: 92%;
	}
	.bubbleSide i{
		left: 92%;
	}
/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 50%;
	}
	#introTxt p, #introTxt h2
	{
		width: 100%;
	}
	
	#introTxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		margin-bottom: 150px;
		height: 150px;
	}
	#container-numbers section
	{
		margin: 0;
	}

	/********************************Work on the section work****************************************/
	.bloc{
		margin:15px;
	}
	.workProjects{
		flex-direction: column;
	}
	.modal-title{
		text-align: left;
	}

	/*For Mogo project*/
	.img-desktop{
		width: 300px;
		height: 100%;
	}
	#txtMogo{
		flex-direction: row;
		width: 100%;
		justify-content: center;
		padding: 15px;
	}

	#modal-body-mogo{
		height: 550px;
	}

	.img-mogo{
		width: 300px;
	}

	#project_txt_mogo{
		flex-direction: column;
		height: auto;
		justify-content: center;
		align-items: center;
	}
	/********************************Work on the section skills****************************************/
	.colour1, .colour2, .skills p
	{
		margin: 10px;
	}

	.skills p
	{
		height: 30px;
	}
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
	}
	.animDev
	{
		height: 100%;
	}
	.animDev p
	{
		height: 100%;
		width: 250px;
		font-size: 1.5em;
		margin-top: 50%;
	}
	.skillsSquare
	{
		height: 310px;
		margin-bottom: 50px;
	}
	.humanImg
	{
		width: 100%;

	}
	.designImg
	{
		margin-top: 10%;
		width: 130%;
	}
	.skills p, .squares
	{
		width: 100%;
	}

	/********************************Work on the section Blog****************************************/
	#blogTitre{
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
	}
	#blogHome{
		flex-direction: row;
		width: 90%;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	#blogHome img{
		width: 50%;
		height: 100%;
		margin-right: 30px;
	}
	.blogHomeDetails{
		flex-direction: column;
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
	}
	/********************************Work on the section contact****************************************/
	#footer-social
	{
		flex-direction: row;
	}
	#footer-social .fa
	{
		margin: 30px;

	}
	form
	{
		width: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	form input{
		width: 80%;
	}
	form label, form input, form textarea
	{
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 1.2em;
	}

}




/****************************************************************************************************************************************/
/*************									TABLETS SCREENS  						*************************************************/
/****************************************************************************************************************************************/


@media (min-width: 992px)
{/**For middle screens like tablets**/
	.container-fluid
	{
		width: 970px;
		
	}
	section
	{
		margin-bottom: 150px; 
	}
	.btn-navbar
	{
		display: none;
	}
	h1
	{
		font-size: 3.9em;
		height: 100px;
		margin-top: 0;
	}
	h2
	{
		margin-bottom: 50px;
		font-weight: bold;
		color: #031D44;
		text-align: center;
		font-size: 3em;
		border-bottom: none;
	}
	/******************Header and nav**************/
	.container
	{
		height: 50px;
		width: 970px;
	}
	#hautDePage
	{
		display: block;
	}
	header
	{
		height: 100vh;
	}
	.navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	}
	.navbar
	{
		position: fixed;
	}
	.navbar-nav{
		width: 90%;
	}
	.navbar-brand
	{
		flex: 1;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		height: 100%;
		width: 130px;
		text-align: center;
	}
	.li-drop, .dropA{
		height: 45px !important;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	#btnTop
	{
		top: 85%;
		left: 93%;
	}
	.bubbleSide i{
		left: 93%;
	}
	/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 30%;
	}
	#introTxt p, #introTxt h2
	{
		width: 100%;
	}
	
	#introTxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		height: 200px;
	}

	#container-numbers section
	{
		margin: 0;
	}

	/********************************Work on the section work****************************************/
	.workProjects{
		flex-direction: row;
	}
	.bloc{
		width: 40%;
	}

	/*For the Mogo project*/
	.mogo-illustrations .img-mogo{
		width: 500px;
	}

	#project_txt_mogo{
		flex-direction: row;
	}
	#txtMogo{
		flex-direction: column;
		width: 50%;
		padding: 0;
	}
	/********************************Work on the section skills****************************************/
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
		margin: 10px;
	}

	.animDev p
	{
		width: 320px;
		font-size: 2.0em;
		margin-top: 30%;
	}
	.skillsSquare
	{
		height: 350px;
		margin-bottom: 50px;
	}
	.humanImg
	{
		width: 80%;

	}
	.squareList, .skills{
		margin-top: 2%;
	}

	/********************************Work on the section Blog****************************************/
	#blogTitre{
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
	}
	#blogHome{
		flex-direction: row;
		width: 90%;
		margin: auto;
		justify-content: center;
		align-items: inherit;
	}
	#blogHome img{
		width: 50%;
		height: 100%;
		margin-right: 30px;
	}
	.blogHomeDetails{
		flex-direction: column;
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
	}
	/********************************Work on the section contact****************************************/
	form
	{
		text-align: left;
		height: 100%;
		align-items: flex-start;
		margin-left: 100px;
	}
	form input{
		width: 60%;
	}
	#footer-social
 	{
	 text-align: center;
	 flex-direction: column;
 	}
	#footer-social .fa
	{
		margin: 20px;

	}
}




/*************************************************************************************************************************************/
/*************									DESKTOP SCREENS      						**********************************************/
/*************************************************************************************************************************************/



@media (min-width: 1200px) 
{	/**For large screens**/
	.container
	{
		width: 1170px;
	}
	.container-fluid
	{
		width: 1170px;
	}
	section
	{
		margin-bottom: 150px; 
	}
	
/*************************************Work on the header********************************/
	header
	{
		height: 100vh;
	}
	h1
	{
		font-size: 5.5em;
		height: 150px;
	}
	h2
	{
		margin-bottom: 50px;
		font-weight: bold;
		color: #031D44;
		text-align: center;
		font-size:3.2em;
	}
	/*Work on the navigation bar*/
	.btn-navbar
	{
		display: none;
	}
	.navbar
	{
		position: fixed;
	}
	.navbar-header
	{
		width: 100%;
	}
	.navbar-brand
	{
		font-size: 3em;
	}
	.navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	}

	.navbar-nav li
	{
		font-size: 1.5em;
		margin-right: 60px;
		height: 100%;
	}
	.li-drop, .dropA{
		height: 45px !important;
	}
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
	}
	#btnTop
	{
		top: 85%;
		left: 95%;
	}
	.bubbleSide i{
		left: 95%;
	}
/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 30px;
		margin-bottom: 70px;
	}
	#fox img
	{

		margin-top: 20px;

	}
	#introTxt p, #introTxt h2
	{
		text-align: center;
		width: 80%;
	}

/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		margin-bottom: 150px;
		height: 250px;
	}
	#container-numbers section
	{
		margin: 0;
		height: 100%;
	}
	#numbers
	{
		height: 100%;

	}
	#numbers .col-lg-3
	{
		margin-top: 60px;
	}

	/********************************Work on the section work****************************************/
	.workProjects{
		flex-direction: row;
	}
	.bloc{
		width: 30%;
	}
	.modal-body{
		flex-direction: row;
	}

	/*Work on the mogo project section*/
	.img-mogo{
		width: 600px;
	}

	#project_txt_mogo{
		flex-direction: row;
		flex-wrap: nowrap;
		align-items:center;
	}

	#txtMogo{
		flex-direction: column;
		width: 50%;
	}

	.mogo-illustrations{
		width: 100%;
	}
/********************************Work on the section skills****************************************/
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
		margin: 15px;
	}

	.skillsSquare
	{
		height: 400px;
	}

	.skillsSquare
	{
		height: 400px;
		text-align: center;
		margin-bottom: 50px;
		width: 100%;
	}
	.animDev
	{
		height: 50px;
		margin-top: 10%;
	}
	.animDev p
	{
		width: 100%;
		font-size: 1.5em;
		margin-top: 10px;
	}
	#devSkills h3, #designskills h3, #humanSkills h3
	{
		font-size: 1.8em;
		margin-bottom: 30px;
	}
	.squares
	{
		justify-content: flex-start;
	}
	.squares p
	{
		font-size: 1.1em;
		margin-right: 20px;
	}
	.squares .colour1, .squares .colour2
	{
		width: 20px;
		height: 20px;
		margin:10px;
	}
	.squareList, .skills{
		margin-top: 4%;
	}


/********************************Work on the section Blog****************************************/
	#blogTitre{
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
	}
	#blogHome{
		flex-direction: row;
		width: 90%;
		margin: auto;
	}
	#blogHome img{
		width: 50%;
		height: 100%;
		margin-right: 30px;
	}
	.blogHomeDetails{
		flex-direction: column;
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
	}
/********************************Work on the footer****************************************/
	form input, form textarea{
		width: 80%;
	}
	#footer-social
	{
		text-align: center;
	}


}