@media (min-width: 1920px) {
	.container-fluid {
		width: 1920px;
	}

	h1 {
		font-size: 7.5em;
	}

	h2 {
		font-size: 4.5em;

	}

	header {
		height: 150px;
	}

	/*************************************************************************              *******************************************************************/
	/***********************************************************************   HOME PAGE     ******************************************************************/
	/*************************************************************************              *******************************************************************/
	/*Work on the header*/
	#mainheader {
		height: 950px;
	}

	.navig {
		color: white;
		background: url("images/Shape 3.png") bottom no-repeat;
	}

	.navbar {
		margin: 0 0 !important;
		font-size: 1.1em;
	}

	.form-group {
		margin-bottom: 0px;
		margin-top: 20px;
	}

	/*Work on the header and the links of the navbar */
	.navbar-nav a {
		text-decoration: none;
		color: white;
		font-size: 1.2em;
	}
	.navbar-nav a:visited, .navbar-nav a:focus {
		text-decoration: none !important;
		color: white;
		background-color: transparent !important;
	}
	.navbar-nav a:hover {
		text-decoration: none;
		color: #fbad27;
		background-color: transparent !important;
	}
	#titre {
		display: flex;
		flex-direction: column;
		color: white;
		height: 700px;
		align-items: center;
		justify-content: center;
	}
	#trip {
		border-radius: 25px;
		background-color: #fbad27;
		border: none;
		font-size: 1.8em;
		height: 50px;
		width: 240px;
	}
	#titre p {
		font-size: 2.5em;
	}
	#video {
		color: white;
		font-size: 2em;
	}
	#video a {
		color: white;
	}
	.bouton-orange {
		font-size: 1.2em;
		height: 45px;
		width: 220px;
		color: white;
	}

	/*Work on the section Welcome*/
	#welcome {
		max-height: 1100px;
	}

	#welcome_fusion {
		text-align: center;
		height: 400px;
		margin-top: 150px;
	}

	.fa-plane, .fa-star-o, .fa-heart {
		color: #fbad27;
	}

	#welcome p {
		color: #757575;
		font-size: 1.2em;
	}

	#welcome h3 {
		font-size: 1.5em;
		font-weight: bold;
	}

	#colonnes {
		padding-top: 140px;
	}

	#shadow, .planestar {
		padding-left: 45px;
		padding-right: 45px;
	}

	#shadow {
		box-shadow: 15px 15px 10px #faf8f5;
		height: 300px;
	}

	#ronds {
		text-align: center;
		margin-top: 120px;
	}

	/*Work on the section destinations*/
	#destination a {
		color: #757575;
	}

	#destination a:hover {
		text-decoration: none;
	}

	#places {
		text-align: center;
		margin-top: 230px;
	}

	#places h2 {
		margin-top: 80px;
	}

	#search {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#pays-list {
		height: 845px;
		margin-bottom: 85px;
		margin-top: 85px;
	}

	.pays p {
		color: white;
		text-align: center;
		font-size: 1.2em;
		padding-top: 20px;
	}

	.pays {
		width: 400px;
		height: 400px;
	}

	#fleche2, #fleche1 {
		line-height: 1000px;
	}

	/*Work on the third section: blog*/
	#blog h2 {
		padding-top: 145px;
	}

	#blog h3 {
		font-size: 1.5em;
	}

	.blogtext {
		margin-bottom: 135px;
		background: url("images/Shape3.png") no-repeat top;
	}

	.para {
		text-align: center;
		font-size: 1.9em;
		color: #616161;
	}

	.istambul {
		margin-top: 45px;
		width: 555px;
		height: 205px;
		box-shadow: 15px 15px 10px #faf8f5;
	}

	.china {
		margin-top: 45px;
		margin-left: 85px;
	}

	.china p {
		text-align: center;
	}

	.bali1, .bali2 {
		display: flex;
		flex-direction: column;
		height: 455px;
		text-align: left;
		box-shadow: 15px 15px 10px #faf8f5;
	}

	.bali1 p, .bali2 p, .istambul_text p {
		font-size: 1.2em;
	}

	.bali1 img, .bali2 img {
		width: 280px;
		height: 205px;
	}

	.villes {
		margin-left: 75px;
	}

	.bali2 {
		margin-top: 65px;
	}

	.photo {
		width: 280px;
	}

	#grossephoto {
		width: 550px;
	}

	.bouton-centre {
		margin-top: 120px;
		margin-bottom: 60px;
	}

	/*Work on the section testimonials*/
	#temoignage {
		padding-top: 85px;
	}

	#temoignage h2 {
		padding-top: 150px;
	}

	.fa-quote-left, .fa-quote-right {
		color: #f5f5f5;
		font-size: 7em;
	}

	.dimi {
		color: #fbad27;
	}

	.temoignage-text {
		box-shadow: 15px 15px 10px #faf8f5;
		border-radius: 25px;
		font-size: 1em;
		width: 810px;
		margin-top: 100px;
	}

	.temoignage-text p {
		color: #616161;
	}

	.temoignage-text img {
		border-radius: 25px;
	}

	/*Work on the discount section*/
	#discount {
		margin-top: 160px;
	}

	#discount .container-fluid {
		background-color: #fbad27;
		height: 250px;
		color: white;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#discountrow {
		width: 100%;
	}

	#offer {
		border-radius: 25px;
		background-color: #fbad27;
		border: 2px solid white;
		font-size: 1.8em;
		height: 63px;
		width: 240px;
	}

	#discountrow h3 {
		font-size: 2.8em;
	}

	/***************************************Work on the footer: for all pages*****************************************/
	footer {
		margin-top: 235px;
		height: 335px;
	}

	footer h3 {
		font-weight: bold;
	}

	footer ul {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
	}

	#info a:visited, #info a:focus {
		text-decoration: none !important;
		color: #969696 !important;
		background-color: transparent !important;
	}

	#info a:hover {
		text-decoration: none;
		color: #fbad27;
		background-color: transparent !important;
	}

	.bloc1 {
		padding-left: 45px;
	}

	address {
		color: #969696;
	}

	.contacter p {
		color: #969696;
	}

	.copyright {
		margin-top: 55px;
		text-align: center;
		background: url("images/Shape3.png") no-repeat top;
	}

	.copyright p {
		padding-top: 55px;
		color: #969696;
	}

	/*Work on the icons in the footer*/
	.follow a {
		text-decoration: none;
		color: #a0a0a0;
		padding-left: 0;
		padding-right: 0;
	}

	.fa-instagram {
		background-color: #fbad27;
		color: white;
		font-size: 1.25em;
	}

	.fa-twitter, .fa-facebook {
		background-color: #616161;
		color: white;
		font-size: 1.2em;
	}

	.follow .btn-success {
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #616161;
	}

	.follow .btn-warning {
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #fbad27;
	}


	/*************************************************************************              *******************************************************************/
	/***********************************************************************  SERVICES PAGE  ******************************************************************/
	/*************************************************************************              *******************************************************************/
	#avion, #coeur, #etoile	{
		height: 500px;
	}
	#coeur .fa, #avion .fa, #etoile .fa	{
		margin-top: 200px;
	}
	#avionSection, #etoileSection, #coeurSection{
		height: 500px;
		background-size: cover;
	}
	#avionTxt, #etoileTxt, #coeurTxt{
		margin-top: 150px;
	}
	/*************************************************************************              *******************************************************************/
	/***********************************************************************  ABOUT US PAGE  ******************************************************************/
	/*************************************************************************              *******************************************************************/

	/*Nothing changed*/

	/*************************************************************************              *******************************************************************/
	/***********************************************************************TRAVEL IDEAS PAGE******************************************************************/
	/*************************************************************************              *******************************************************************/
	#ideastxt h2{
		font-size: 3em;
	}
	#ideastxt p	{
		font-size: 2em;
	}

	.listpays .pays	{
		width: 600px;
		height: 600px;
		margin-bottom: 70px;
	}
	.payslg	{
		margin-top: 450px;
	}
	.prixdetail	{
		margin-top: -120px;
	}
	.tripdetail	{
		width: 200px;
		height: 270px;
	}
	.tripitinary	{
		width: 400px ;
	}
	.tripitinary h4	{
		text-align: center;
		font-size: 2.1em;
	}
	.tripprice	{
		font-size: 2em ;
	}
	.bookbtn button	{
		font-size: 2em;
		width: 200px;
		height: 50px;
	}


	/*************************************************************************              *******************************************************************/
	/**************************************************************************BLOG PAGE***********************************************************************/
	/*************************************************************************              *******************************************************************/
	#blogtitre h2	{
		font-size: 3em;
	}
	#blogtitre p	{
		font-size: 2em;
	}
	#photobig	{
		width: 100%;
		height: 700px;
	}
	#articlebigtxt	{
		width: 100%;
		text-align: left;
	}
	#articlebigtxt h3, .medarticle h3	{
		font-size: 2em;
	}
	#articlebigtxt p, .medarticle p	{
		font-size: 1.5em;
	}
	.photomed	{
		height: 650px;
	}
	.carousel	{
		height: 500px;
	}
	.carousel-inner	{
		padding-top: 3%;
	}
	.testipic	{
		height: 400px;
		margin-left: 10%;
		width: 45%;
	}
	.testitxt	{
		width: 75%;
	}
	.testitxt h3	{
		font-size: 3em;
	}
	.testitxt p	{
		font-size: 2em;
	}


	/*************************************************************************              *******************************************************************/
	/**************************************************************************CONTACT PAGE********************************************************************/
	/*************************************************************************              *******************************************************************/
	#contact h2 {
		font-size: 3em;
	}

	#contact p {
		font-size: 2em;
	}

	#form label {
		font-size: 1.8em;
	}

}