body {
	background-color: black;
}

.container {
	width: 1366px;
	height: 700px;
	position: absolute;
	margin: auto;
}

.droplet {
  border-style: solid;
  border-radius: 5px 90%;
  border-width: 5px;
  border-color: black;
  height: 200px;
  margin: auto;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left top;
}

#n01 {
	background: purple;
	animation: spin 4s ease-out;
	animation-fill-mode: forwards;
}
#n01:hover {
	animation: transfohover 4s ease-out;
	animation-fill-mode: forwards;
}
#n02 {
	background: violet;
	animation: spin2 4s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.05s;
}
#n02:hover {
	animation: transfohover2 4s ease-out;
	animation-fill-mode: forwards;
}
#n03 {
	background: #AF0035;
	animation: spin3 4s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}
#n03:hover {
	animation: transfohover3 ease-out;
	animation-fill-mode: forwards;
}
#n04 {
	background: #E04070;
	animation: spin4 4s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.15s;

}
#n04:hover {
	animation: transfohover4 ease-out;
	animation-fill-mode: forwards;
}
#n05 {
	background: #4C004C;
	animation: spin5 4s ease-out;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
#n05:hover {
	animation: transfohover5 ease-out;
	animation-fill-mode: forwards;
}

@keyframes spin {
	0%{
		opacity:0;
		-webkit-transform:rotate(0deg) scale(0.01);
		transform:rotate(0deg) scale(0.01);
	}
	100% {
		opacity:1;
		-webkit-transform:rotate(360deg) scale(1);
		transform:rotate(360deg) scale(1);
	}

}
@keyframes transfohover {
	0%{
		-webkit-transform:scale(0);
		transform:scale(0);
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}

}
@keyframes spin2 {
	0%{
		opacity:0;
		-webkit-transform:rotate(0deg) scale(0.01);
		transform:rotate(0deg) scale(0.01);
	}
	100% {
		opacity:1;
		-webkit-transform:rotate(72deg) scale(1);
		transform:rotate(72deg) scale(1);
	}

}
@keyframes transfohover2 {
	0%{
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	100% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}

}
@keyframes spin3 {
	0%{
		opacity:0;
		-webkit-transform:rotate(0deg) scale(0.01);
		transform: rotate(0deg) scale(0.01);
	}
	100% {
		opacity:1;
		-webkit-transform:rotate(144deg) scale(1);
		transform:rotate(144deg) scale(1);
	}

}
@keyframes transfohover3 {
	0%{
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	100% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}

}
@keyframes spin4 {
	0%{
		opacity:0;
		-webkit-transform:rotate(0deg) scale(0.01);
		transform:rotate(0deg) scale(0.01);
	}
	100% {
		opacity:1;
		-webkit-transform:rotate(216deg) scale(1);
		transform:rotate(216deg) scale(1);
	}

}
@keyframes transfohover4 {
	0%{
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	100% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}

}
@keyframes spin5 {
	0%{
		opacity:0;
		-webkit-transform:rotate(0deg) scale(0.01);
		transform:rotate(0deg) scale(0.01);
	}
	100% {
		opacity:1;
		-webkit-transform:rotate(288deg) scale(1);
		transform:rotate(288deg) scale(1);
	}

}
@keyframes transfohover5 {
	0%{
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	100% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}

}
