@media (max-width: 767px)
{/**For little screens of smartphones**/
	.container-fluid
	{
		width: auto;
	}
	h1
	{
		font-size: 5em;
	}
	h2
	{
		font-size: 2.5em;
	}
	h3
	{
		font-size: 1.5em;
	}
	nav
	{
		background-color: black;
		color: #FBAD27;
	}
	.navbar-brand 
	{
		text-decoration: none;
		color: #FBAD27 !important;
		font-size: 1.5em;
	}
	.navbar-brand:hover
	{
		color: white;
	}
	.navigation
	{
		width: 100%;

	}
	.container>.navbar-collapse
	{
		margin: 0;
	}
	.nav, .navigation
	{
		padding: 0;
		margin: auto;
	}


	.navbar-nav a
	{
		font-size: 1.2em;
	}
	.navbar-nav li
	{
		width: 100%;
	}
	.navbar-nav
	{
		display: inherit;
	}

	#btntop 
	{
	  display: none;
	}
	.btn-navbar
	{
		color:  #FBAD27 !important;
	}
	/**Text part**/
	#paraS p, #valuestxt, #mission p
	{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 100px;
		color: #757575;
		font-size: 1.2em;

	}
	#titreS
	{
		margin-top: 135px;
	}
	
	.txt h3
	{
		font-size: 2.5em;

	}
	#trust, #safety, #quality
	{
		width: 100%;
		margin: auto;
		text-align: center;

	}
	#trusttxt, #safetytxt, #qualitytxt
	{
		font-size: 1.1em;
		margin-top: 10px;
		text-align: center;
		color: #757575;
	}
	#trustimg, #safetyimg, #qualityimg
	{
		width: 100%;
		text-align: center;
		height: 320px;
	}
	#trust h3, #safety h3, #quality h3
	{
		color: #FBAD27;
		font-size: 2em;
		font-weight: bold;
	}
	#trustimg
	{
		background: url("images/trust.jpg") no-repeat;
		background-size: cover;
	}
	#safetyimg
	{
		background: url("images/safety.jpg") no-repeat;
		background-size: cover;
	}
	#qualityimg
	{
		background: url("images/diamant.jpg") no-repeat;
		background-size: cover;
	}
	#mission, #values
	{
		border-top: 2px #FBAD27 solid;
	}
	/*Travail sur le pied de page*/
	footer
	{
		margin-top: 50px;
		height: 200px;
		border-top: 1px #FBAD27 solid;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 0.9em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}

	
}
/******************************************************SMARTPHONE  SCREEN************************************************/

@media (min-width: 768px)
{/**For smartphone's screens**/
	.container-fluid
	{
		width: 750px;
	}
	h1
	{
		font-size: 3em;
	}
	h2
	{
		font-size: 3em;
	}
	h3
	{
		font-size: 1.1em;
	}
	header
	{
		height: auto;
	}
	.navbar-brand 
	{
		text-decoration: none;
		color: #FBAD27;
		font-size: 1.8em;
	}
	.navbar-brand:hover
	{
		color: white;
		
	}

	.navbar-nav a
	{
		font-size: 1.1em;
	}
	.navbar-nav li
	{
		width: 30%;
		margin-bottom: 12px;
		text-align: center;
	}
	.navbar-nav
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	#btntop 
	{
	  display: none;
	}
	.btn-navbar
	{
		display: none;
	}
	/**Part 1 Welcome**/
	#paraS p, #valuestxt, #mission p
	{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 100px;
		color: #757575;
		font-size: 1.2em;

	}
	#parts
	{
		text-align: center;
		width: 100%;
	}
	#titreS
	{
		margin-top: 100px;
	}
	
	.txt h3
	{
		font-size: 2.5em;

	}
	#trust, #safety, #quality
	{
		width: 100%;
		height: 200px;
		margin-bottom: 100px;
	}
	#trustimg, #safetyimg, #qualityimg
	{
		width: 100%;
		height: 200px;
	}
	#trust h3, #safety h3, #quality h3
	{
		color: #FBAD27;
		font-size: 3.4em;
		font-weight: bold;
	}
	#trusttxt, #safetytxt, #qualitytxt
	{
		font-size: 1.1em;
		margin-top: 10px;
		text-align: justify;
		color: #757575;
	}
	.valuespara
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#trustimg
	{
		background: url("images/trust.jpg") no-repeat;
		background-size: cover;
	}
	#safetyimg
	{
		background: url("images/safety.jpg") no-repeat;
		background-size: cover;
	}
	#qualityimg
	{
		background: url("images/diamant.jpg") no-repeat;
		background-size: cover;
	}
	#mission, #values
	{
		border-top: 2px #FBAD27 solid;
	}
	/*Work on the footer*/
	footer
	{
		margin-top: 50px;
		height: 200px;
		border-top: 1px #FBAD27 solid;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 1em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 10px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}
	.copyright 
	{
		text-align: center;
	}

	
}


/***********************************************************TABLETS SCREENS*********************************************/


@media (min-width: 992px)
{/**For tablets' screens**/
	.container-fluid
	{
		width: 970px;
		
	}
	h1
	{
		font-size: 3.5em;
	}
	h2
	{
		font-size: 2em;
	}
	h3
	{
		font-size: 0.9em;
	}
	/**Header**/

	.navbar-brand
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 2em;
	}
	.navbar-brand:hover
	{
		color: white !important;

	}
	.navbar-nav a
	{
		font-size: 1.3em;
	}
	#btntop, .btn-navbar
	{
	  display: none;
	}

	/**Part 1 Welcome**/
	#paraS p, #valuestxt, #mission p
	{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 100px;
		color: #757575;
		font-size: 1.2em;

	}
	#titreS
	{
		margin-top: 100px;
	}
	
	.txt h3
	{
		font-size: 2.5em;

	}
	#trust, #safety, #quality
	{
		width: 100%;
		height: 300px;
		margin-bottom: 120px;
	}
	#trustimg, #safetyimg, #qualityimg
	{
		width: 90%;
		height: 300px;
	}
	#trust h3, #safety h3, #quality h3
	{
		color: #FBAD27;
		font-size: 3.4em;
		font-weight: bold;
	}
	#trusttxt, #safetytxt, #qualitytxt
	{
		font-size: 1.1em;
		text-align: justify;
		color: #757575;
	}
	#trustimg
	{
		background: url("images/trust.jpg") no-repeat;
		background-size: cover;
	}
	#safetyimg
	{
		background: url("images/safety.jpg") no-repeat;
		background-size: cover;
	}
	#qualityimg
	{
		background: url("images/diamant.jpg") no-repeat;
		background-size: cover;
	}
	#mission, #values
	{
		border-top: 2px #FBAD27 solid;
	}
	/*Travail sur le pied de page*/
	footer
	{
		margin-top: 50px;
		height: 200px;
		border-top: 1px #FBAD27 solid;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 1.1em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}

	
}

/******************************************************DESKTOP SCREENS***************************************/

@media (min-width: 1200px) 
{	/**For large screens like desktops**/
	.container-fluid
	{
		width: 1170px;
	}
	h1
	{
		font-size: 5em;
	}
	h2
	{
		font-size: 3em;
	}
	h3
	{
		font-size: 1.5em;
	}
	/**Header**/
	.navbar-brand
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 2em;
	}
	.navbar-brand:hover
	{
		color: white !important;

	}
	.navbar
	{
		font-size: 1em;
	}
	#btntop 
	{
	  display: block;
	}
	/*First section*/
	#paraS p, #valuestxt, #mission p
	{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 100px;
		color: #757575;
		font-size: 1.2em;

	}
	#titreS
	{
		margin-top: 100px;
	}
	
	.txt h3
	{
		font-size: 2.5em;

	}
	#trust, #safety, #quality
	{
		width: 90%;
		height: 300px;
		margin-bottom: 150px;
	}
	#trustimg, #safetyimg, #qualityimg
	{
		width: 90%;
		height: 300px;
	}
	#trust h3, #safety h3, #quality h3
	{
		color: #FBAD27;
		font-size: 3.4em;
		font-weight: bold;
	}
	#trusttxt, #safetytxt, #qualitytxt
	{
		font-size: 1.3em;
		text-align: justify;
		color: #757575;
	}
	#trustimg
	{
		background: url("images/trust.jpg") no-repeat;
		background-size: cover;
	}
	#safetyimg
	{
		background: url("images/safety.jpg") no-repeat;
		background-size: cover;
	}
	#qualityimg
	{
		background: url("images/diamant.jpg") no-repeat;
		background-size: cover;
	}
	#mission, #values
	{
		border-top: 2px #FBAD27 solid;
	}
	/*Travail sur le pied de page*/
	footer
	{
		margin-top: 80px;
		height: 335px;
		border-top: 1px #FBAD27 solid;
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}
	
}

/*******************************************BIG SCREENS*******************************/
@media (min-width: 1920px)
{
	.container-fluid
	{
		width: 1920px;
	}
	h1
	{
		font-size: 7.5em;
	}
	h2
	{
		font-size: 5em;
		
	}
	/*Work on the header*/
	header
	{
		height: auto;
	}
	nav, #hautdepage
	{
		height: 100%;
	}
	.navbar-brand 
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 3em;
		height: 70px; 
	}
	.navbar-brand:hover
	{
		color: white !important;
		
	}
	.navbar-nav
	{
		height: 100%;
		margin-top: 30px;
	}
	.navbar-nav a
	{
		font-size: 2em;
	}
	#btntop 
	{
	  display: block;
	}
	
	/*First section*/
	#paraS p, #valuestxt, #mission p
	{
		text-align: justify;
		margin-top: 50px;
		margin-bottom: 100px;
		color: #757575;
		font-size: 2em;
	}
	#titreA
	{
		margin-top: 100px;
	}
	
	.txt h3
	{
		font-size: 3em;
	}
	#trust, #safety, #quality
	{
		width: 90%;
		height: 500px;
		margin-bottom: 150px;
	}
	#trustimg, #safetyimg, #qualityimg
	{
		width: 90%;
		height: 500px;
	}
	#trust h3, #safety h3, #quality h3
	{
		color: #FBAD27;
		font-size: 3.4em;
		font-weight: bold;
	}
	#trusttxt, #safetytxt, #qualitytxt
	{
		font-size: 1.8em;
		text-align: justify;
		color: #757575;
	}
	#trustimg
	{
		background: url("images/trust.jpg") no-repeat;
		background-size: cover;
	}
	#safetyimg
	{
		background: url("images/safety.jpg") no-repeat;
		background-size: cover;
	}
	#qualityimg
	{
		background: url("images/diamant.jpg") no-repeat;
		background-size: cover;
	}
	#mission, #values
	{
		border-top: 2px #FBAD27 solid;
	}
	
	/*Travail sur le pied de page*/
	footer
	{
		margin-top: 200px;
		height: 335px;
		border-top: 1px #FBAD27 solid;
	}
	footer h3
	{
		font-weight: bold;
	}

	footer ul
	{
		list-style-type: none;
		margin-left:0;
		padding-left:0;
	}
	#info a:visited, #info a:focus
	{
		text-decoration: none !important;
		color: #969696 !important;
		background-color: transparent !important;
	}
	#info a:hover
	{
		text-decoration: none;
		color: #fbad27;
		background-color: transparent !important;
	}
	.bloc1
	{
		padding-left: 45px;
	}
	
	address
	{
		color: #969696;
	}
	
	footer ul, footer address, .contacter p
	{
		color: #969696;
		font-size: 1.2em ;
	}
	.copyright
	{
		margin-top: 55px;
		text-align: center;
		background: url("images/Shape3.png") no-repeat top;
	}
	.copyright p
	{
		padding-top: 55px;
		color: #969696;
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}
	/*Work on the footer and icons*/
	.follow a
	{
		text-decoration: none;
		color: #a0a0a0;
		padding-left: 0;
		padding-right: 0;
	}
	.fa-instagram
	{
		background-color: #fbad27;
		color: white;
		font-size: 1.25em;
	}

	.fa-twitter, .fa-facebook
	{
		background-color: #616161;
		color: white;
		font-size: 1.2em;
	}
	.follow .btn-success
	{
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #616161;
	}
	.follow .btn-warning
	{
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #fbad27;
	}
}