@media (max-width: 767px)
{/**Pour écrans petits type petits smartphone**/
	.container-fluid
	{
		width: auto;
	}
	h1
	{
		font-size: 5em;
	}
	h2
	{
		font-size: 2.5em;
	}
	h3
	{
		font-size: 1.5em;
	}

	nav
	{
		background-color: black;
		color: #FBAD27;
	}
	.navbar-brand
	{
		text-decoration: none;
		color: #FBAD27;
		font-size: 2.3em;
	}
	.navbar-brand:hover
	{
		color: white;
	}
	.navigation
	{
		width: 100%;
	}
	.navbar-inverse
	{
		position: fixed;
		float: left;
		width: 100%;
		border: none;
		z-index: 5;
		background-color: #12111D;
	}
	.container>.navbar-collapse
	{
		margin: 0;
	}
	.nav, .navigation
	{
		padding: 0;
		margin: auto;
	}
	.navbar-nav a
	{
		font-size: 1.2em;
	}
	.navbar-nav li
	{
		width: 100%;
	}
	.navbar-nav
	{
		display: inherit;
	}
	#btntop
	{
		display: none;
	}
	.btn-navbar
	{
		color:  #FBAD27 !important;
	}
	/******Work on the first article with the big picture*******/
	#blogtitre
	{
		padding-top:75px;
		text-align: center;
		margin-bottom: 50px;
	}
	#bigarticle
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width:100%;
		flex-wrap: wrap;
	}
	#photobig
	{
		width: 100%;
		height:300px;
		background: url("images/marina.png") no-repeat;
		overflow: hidden;
		background-size: cover;
	}
	#articlebigtxt
	{
		width: 100%;
		text-align: left;
	}
	#articlebigtxt p
	{
		text-align: justify;
	}
	/********Work on the second article "Last destination bought"*******/
	.medarticle
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 100px;
	}
	.photomed
	{
		width: 50%;
		height:250px;
		overflow: hidden;
	}
	#photomed1
	{
		background: url("images/mauritius.jpg") no-repeat;
		background-size: cover;
	}
	#photomed2
	{
		background: url("images/maldives.jpg") no-repeat;
		background-size: cover;
	}
	#photomed3
	{
		background: url("images/NYCLiberty.jpg") no-repeat;
		background-size: cover;
	}
	#photomed4
	{
		background: url("images/NewYork.jpg") no-repeat;
		background-size: cover;
	}
	.medarticletxt
	{
		width: 100%;
	}
	.medarticletxt p
	{
		text-align: justify;
	}
	/*******Work on the second section, testimonials*****/
	#testimonials
	{
		display: flex;
		flex-direction: row;
		margin-top: 120px;
	}
	#carou1, #carou2
	{
		border: 2px solid #FBAD27;
	}
	.fleche
	{
		width: 10%;
		margin-top: 125px;
	}
	.testi
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 80%;
	}
	.testitxt
	{
		width: 75%;
		text-align: justify;
	}
	.testipic
	{
		width: 25%;
		height:150px;
		overflow: hidden;
	}
	#testipic1
	{
		background: url("images/joshxs.jpg") no-repeat;
		background-size: cover;
	}
	#testipic2
	{
		background: url("images/cat.jpg") no-repeat;
		background-size: cover;
	}

	/*******Work on the footer*****/
	footer
	{
		margin-top: 50px;
		height: 200px;
		border-top: 1px #FBAD27 solid;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 0.9em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}


}
/*******************************************************ECRAN SMARTPHONE************************************************/

@media (min-width: 768px)
{/**Pour écrans petits type smartphone**/
	.container-fluid
	{
		width: 750px;
	}
	h1
	{
		font-size: 3em;
	}
	h2
	{
		font-size: 3em;
	}
	h3
	{
		font-size: 1.1em;
	}

	.navbar-brand
	{
		text-decoration: none;
		color: #FBAD27;
		font-size: 2.3em;
	}
	.navbar-brand:hover
	{
		color: white;

	}
	.navbar
	{
		font-size: 1em;
	}
	.navbar-nav a
	{
		font-size: 1.1em;
	}
	.navbar-nav li
	{
		width: 30%;
		margin-bottom: 12px;
		text-align: center;
	}
	.navbar-nav
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	#btntop, .btn-navbar
	{
		display: none;
	}
	/******Work on the first article with the big picture*******/
	#blogtitre
	{
		padding-top:75px;
		text-align: center;
		margin-bottom: 50px;
	}
	#bigarticle
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width:100%;
	}
	#photobig
	{
		width: 75%;
		height:300px;
		background: url("images/marina.png") no-repeat;
		overflow: hidden;
		background-size: cover;
	}
	#articlebigtxt
	{
		width: 25%;
		text-align: center;
	}

	/*Work on the footer*/
	footer
	{
		margin-top: 50px;
		height: 200px;
		border-top: 1px #FBAD27 solid;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 1em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 10px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}
	.copyright
	{
		text-align: center;
	}


}


/***********************************************************ECRAN TABLETTES*********************************************/


@media (min-width: 992px)
{/**Pour écrans moyens type tablettes**/
	.container-fluid
	{
		width: 970px;

	}
	h1
	{
		font-size: 3.5em;
	}
	h2
	{
		font-size: 2em;
	}
	h3
	{
		font-size: 0.9em;
	}
	/**Header**/

	.navbar-brand
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 2em;
	}
	.navbar-brand:hover
	{
		color: white !important;

	}
	.navbar-nav a
	{
		font-size: 1.3em;
	}
	#btntop
	{
		display: none;
	}


	/******Work on the first article with the big picture*******/
	#blogtitre
	{
		padding-top:75px;
		text-align: center;
		margin-bottom: 50px;
	}
	#bigarticle
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width:100%;
	}
	#photobig
	{
		width: 75%;
		height:300px;
		background: url("images/marina.png") no-repeat;
		overflow: hidden;
		background-size: cover;
	}
	#articlebigtxt
	{
		width: 25%;
		text-align: center;
	}



	/*Work on the footer*/
	footer
	{
		margin-top: 50px;
		height: 200px;
	}
	footer ul, footer address, .contacter p
	{
		font-size: 1.1em
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}


}

/******************************************************Ecrans ORDI***************************************/

@media (min-width: 1200px)
{	/**Pour écrans larges**/
	.container-fluid
	{
		width: 1170px;
	}
	h1
	{
		font-size: 5em;
	}
	h2
	{
		font-size: 3em;
	}
	h3
	{
		font-size: 1.5em;
	}
	/**Header**/

	.navbar-brand
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 2em;
	}
	.navbar-brand:hover
	{
		color: white !important;

	}
	.navbar
	{
		font-size: 1em;
	}
	#btntop
	{
		display: block;
	}
	/******Work on the first article with the big picture*******/
	#blogtitre
	{
		padding-top:75px;
	}
	#bigarticle
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width:100%;
	}
	#photobig
	{
		width: 75%;
		height:300px;
		background: url("images/marina.png") no-repeat;
		overflow: hidden;
		background-size: cover;
	}
	#articlebigtxt
	{
		width: 25%;
		text-align: center;
	}
	/*Work on the footer*/
	footer
	{
		margin-top: 80px;
		height: 335px;
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}

}

/*******************************************GROS ECRANS*******************************/
@media (min-width: 1920px)
{
	.container-fluid
	{
		width: 1920px;
	}
	h1
	{
		font-size: 7.5em;
	}
	h2
	{
		font-size: 5em;

	}
	/*Travail sur l'entete*/
	header
	{
		height: 200px;
	}
	nav, #hautdepage
	{
		height: 100%;
	}
	.navbar-brand
	{
		text-decoration: none !important;
		color: #FBAD27 !important;
		font-size: 3em;
		height: 70px;
	}
	.navbar-brand:hover
	{
		color: white !important;

	}
	.navbar-nav
	{
		height: 100%;
		margin-top: 30px;
	}
	.navbar-nav a
	{
		font-size: 2em;
	}
	#btntop
	{
		display: block;
	}

	/******Work on the first article with the big picture*******/
	#blogtitre
	{
		padding-top:135px;
	}
	#bigarticle
	{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width:100%;
	}
	#photobig
	{
		width: 75%;
		height:300px;
		background: url("images/marina.png") no-repeat;
		overflow: hidden;
		background-size: cover;
	}
	#articlebigtxt
	{
		width: 25%;
		text-align: center;
	}
	/*Work on the footer*/
	footer
	{
		margin-top: 200px;
		height: 335px;
	}
	footer h3
	{
		font-weight: bold;
	}

	footer ul
	{
		list-style-type: none;
		margin-left:0;
		padding-left:0;
	}
	#info a:visited, #info a:focus
	{
		text-decoration: none !important;
		color: #969696 !important;
		background-color: transparent !important;
	}
	#info a:hover
	{
		text-decoration: none;
		color: #fbad27;
		background-color: transparent !important;
	}
	.bloc1
	{
		padding-left: 45px;
	}

	address
	{
		color: #969696;
	}

	footer ul, footer address, .contacter p
	{
		color: #969696;
		font-size: 1.2em ;
	}
	.copyright
	{
		margin-top: 55px;
		text-align: center;
		background: url("images/Shape3.png") no-repeat top;
	}
	.copyright p
	{
		padding-top: 55px;
		color: #969696;
	}
	.contacter, .about, .adresse, .follow
	{
		padding: 5px;
	}
	.bloc1, .bloc2
	{
		text-align: center;
	}
	/*Travail dans le pied de page sur les icones*/
	.follow a
	{
		text-decoration: none;
		color: #a0a0a0;
		padding-left: 0;
		padding-right: 0;
	}
	.fa-instagram
	{
		background-color: #fbad27;
		color: white;
		font-size: 1.25em;
	}

	.fa-twitter, .fa-facebook
	{
		background-color: #616161;
		color: white;
		font-size: 1.2em;
	}
	.follow .btn-success
	{
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #616161;
	}
	.follow .btn-warning
	{
		border-radius: 25px;
		width: 30px;
		height: 30px;
		background-color: #fbad27;
	}
}