/*General style for all formats*/
.container-fluid
{
	font-family: 'Roboto', sans-serif;
}
h2
	{
		color: #4a4a4a;
		text-align: center;
	}
/*Work on the header*/
header
{
	background: url("images/marina-bay.png")top no-repeat;
	background-size: cover;
	
}
.navig
{
	color: white;
	background: url("images/Shape 3.png") bottom no-repeat;
	
}
nav, #hautdepage
{
	height: 100%;
}

.navbar-nav a
{
	font-size: 2em;
}
.navbar-brand
{
	text-decoration: none;
	color: #FBAD27 !important;
}
.navbar
{
	margin: 0 0 !important;
}
.navbar-nav
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;

}
.navbar-nav li
{
	width: 30%;
	margin-bottom: 12px;
	text-align: center;
}
.form-group
{
	margin-bottom:0;
	margin-top:20px;
	
}
#btntop 
{
   position: fixed;
   top: 85%;
   left: 95%;
   color: #4a4a4a;
   opacity: 0.5;
}
#btntop:hover
{
   opacity: 1;
}
/*Work on the header, and links of the navbar: written in white and hover in orange.*/
.navbar-nav a
{
	text-decoration: none;
	color: white;
}
.navbar-nav a:visited, .navbar-nav a:focus
{
	text-decoration: none !important;
	color: white;
	background-color: transparent !important;
}
.navbar-nav a:hover
{
	text-decoration: none;
	color: #fbad27;
	background-color: transparent !important;
}
#titre
{
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content: center;
}

.bouton-orange
{
	border-radius: 25px;
	background-color: #fbad27;
	border: none;
	color: white;
	
}
.bouton-orange:hover
{
	background-color: white;
	color: #fbad27;
	
}
#video
{
	color: white;
	display: flex;
	align-items: center;
}
#video a
{
	color: white;
}
.fa-play-circle-o
{
	font-size: 2.5em;
}
.fa-play-circle-o:hover
{
	color: #fbad27;
}

/*Work on the first section of the website: Welcome*/
#welcome
{
	max-height: 1100px;
}
#welcome_fusion
{
	text-align: center;
	
}
.fa-plane,.fa-star-o,.fa-heart
{
	color:#fbad27;
	
}
#welcome p
{
	color: #757575;
	
}
#welcome h3
{
	font-weight: bold;
}

.planestar, #shadow
{
	padding-left: 45px;
	padding-right: 45px;
	
}
.shadow
{
	box-shadow: 15px 15px 10px #faf8f5;
}
#shadow, #plane, .planestar
{
	text-align: center;
}
.ronds
{
	text-align: center;
	padding-top: 80px;
}
/*Work on the second part of the website: destinations*/

#destination a
{
	color: #757575;
}
#destination a:hover
{
	text-decoration: none;
}
#places
{
	text-align: center;
	background: url("images/Shape3.png") no-repeat top;
}
#search
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#carou1, #carou2
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;

}
.fleche i
{
	color:#B8B8B8;
	
}
.fleche, .fleche button, .fleche .fa
{
	outline: none; 
}
.fleche .fa:hover
{
	color:#FBAD27 !important;

}
.pays p
{
	color: white;
	text-align: center;
	font-size: 1.2em;
}
.pays
{
	overflow: hidden;
	width: 30%;
	background-size: cover !important;
}
#pays1
{
	background: url("images/thailand.png") no-repeat;

}
#pays2
{
	background: url("images/australia.png") no-repeat;
}
#pays3
{
	background: url("images/indonesia.png") no-repeat;
}
#pays4
{
	background: url("images/paris.png") no-repeat;	
}
#pays5
{
	background: url("images/malaysia.png") no-repeat;	
}
#pays6
{
	background: url("images/uae.jpg") no-repeat;		
}
#pays7
{
	background: url("images/peru.jpg") no-repeat;		
}
#pays8
{
	background: url("images/martinique.jpg") no-repeat;		
}
#pays9
{
	background: url("images/suede.jpg") no-repeat;		
}
#pays10
{
	background: url("images/mauritius.jpg") no-repeat;		
}
#pays11
{
	background: url("images/venise.jpg") no-repeat;		
}
#pays12
{
	background: url("images/berlin.jpg") no-repeat;		
}
#fleche2, #fleche1
{
	text-align: center;
	vertical-align: middle;
}
#lespays button
{
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

/*Work on the third part of the website: blog*/

.blogtext
{
	
	background: url("images/Shape3.png") no-repeat top;
}
.para
{
	text-align: center;
	color: #616161;
}
.bali1 p,.bali2 p, .istambul_text p
{
	color: #7e7e7e;
}
#read
{
	border-radius: 25px;
	background-color: #fbad27;
	border: none;
	font-size: 1.8em;
	color: white;
	height: 50px;
	width: 240px;
}
.istambul
{
	
	margin-top: 45px;
	box-shadow: 15px 15px 10px #faf8f5;
}

.china p
{
	text-align: center;
}
.bali1, .bali2
{
	display: flex;
	flex-direction: column;
	text-align: left;
	box-shadow: 15px 15px 10px #faf8f5;
}
.bali1
{
	margin-right: -40px;
}
.villes
{
	margin-left: 25px;
}
.bali2
{
	margin-top: 65px;
}
.bouton-centre
{
	text-align: center;
		
}
/*Work on the fourth part of te website: temoignages*/

.temoignage-para
{
	background: url("images/Shape3.png") no-repeat top;
	
}


.fa-quote-left, .fa-quote-right
{
	color: #f5f5f5;
	font-size: 7em;
}

.dimi
{
	color: #fbad27;
}
.temoignage-text
{
	box-shadow: 15px 15px 10px #faf8f5;
	border-radius: 25px;
	font-size: 1em;

}
.temoignage-text p
{
	color: #616161;
}
.temoignage-text img
{
	border-radius: 25px;
}

/*Work on the fifth part of the website: discount*/

#discount .container-fluid
{
	background-color: #fbad27;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#discountrow
{
	width: 100%;
}
#offer
{
	border-radius: 25px;
	background-color: #fbad27;
	border: 2px solid white;
	
}
#offer:hover
{
	background-color: white;
	color: #fbad27;
}

/*Work on the footer*/
footer
{
	height: 335px;
}
footer h3
{
	font-weight: bold;
}

footer ul
{
	list-style-type: none;
	margin-left:0;
	padding-left:0;
}
#info a
{
	color: #969696;
}
#info a:visited, #info a:focus
{
	text-decoration: none !important;
	color: #969696;
	background-color: transparent !important;
}
#info a:hover
{
	text-decoration: none !important;
	color: #fbad27;
	background-color: transparent !important;
}
.bloc1, .bloc2
{
	text-align: center;
}
address
{
	color: #969696;
}

.contacter p
{
	color: #969696;
}
.copyright
{
	margin-top: 55px;
	background: url("images/Shape3.png") no-repeat top;
}
.copyright p
{
	padding-top: 55px;
	color: #969696;
	text-align: center;
}
/*Work in the footer on the icons (fa)*/
.follow a
{
	text-decoration: none;
	color: #a0a0a0;
	padding-left: 0;
	padding-right: 0;
}
.fa-instagram
{
	background-color: #fbad27;
	color: white;
	font-size: 1.25em;
}

.fa-twitter, .fa-facebook
{
	background-color: #616161;
	color: white;
	font-size: 1.2em;
}
.follow .boutongris
{
	border-radius: 25px;
	width: 30px;
	height: 30px;
	background-color: #616161;
}
.follow .btnorange
{
	border-radius: 25px;
	width: 30px;
	height: 30px;
	background-color: #fbad27;
}

