@media (min-width: 1200px){
.container
{
	width: 1230px;
	margin: auto;
}
}
img
{
	max-width: 570px;
}
header
{
	background: url("images/background.png") top;
	background-size: cover;
}
h1,h2,h3
{
	color: white;
}
.row
{
	margin: 0;
}
.header1
{
	height: 350px;
}