/*body
{
	cursor: url("images/cursor3.png"), pointer;
}*/
.container-fluid
{
	font-family: 'Roboto', 'Poppins', sans-serif;
	width: auto;
}
.row
{
	margin: 0;
}
section
{
	margin-bottom: 40px;
}
h2
{
	font-family: Courier;
	font-style: oblique;
}
h4
{
	font-size: 1.8em;
}
/*************************************Work on the header for all formats********************************/
header
{
	background-image: repeating-linear-gradient(#647277, #6E8A94, #F3ECD9);
}
h1
{
	color: white;
	text-align: center;
}

/*Work on the navigation bar*/
.navbar
{
	width: 100%;
	z-index: 20;
}
.navbar-nav{
	width:100%;
	display: flex;
	justify-content: space-between;
}
.navbar-brand
{
	color: #647277;
	font-family: courier;
}
.navbar-brand:hover
{
	color: white;
}
.navbar-nav a
{

	color: #647277;
	font-family: courier;
}
.navbar-nav a:hover
{
	color:  #FCB3B3!important;
	background-color: #F3ECD9 !important;

}
.btn-navbar
{
	color: #FCB3B3 !important;
}

.navbar-nav li
{
	text-align: center;
}
#titre
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#learn
{
	color: white;
	border: 2px solid white;
	background-color: transparent;
	text-align: center;
	font-family: courier;
}
#learn:hover
{
	background-color: #FCB3B3;
}

#btnTop
{
	position: fixed;
	color: #4a4a4a;
	opacity: 0.7;
	z-index: 2;
}

/********************************Work on the section Intro****************************************/
#introTxt p, #introTxt h2
{
	text-align: center;
	width: 80%;
}

#introTxt p a
{
	text-decoration: none;
	color: #647277;
}
/********************************Work on the section numbers****************************************/
#container-numbers
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
#numbers
{
	background-color: #bad1d1;
	text-align: center;
}
#numbers a
{
	text-decoration: none;
	color: #647277;
}
#numbers .fa
{
	color: white;
}

/********************************Work on the section skills****************************************/
#skillsTitre
{
	margin-bottom: 50px;
}
#cv
{
	display: flex;
	justify-content: center;
}
#skillsTitre p, #cv, #projects
{
	text-align: center;
}
#cv a, #projects a
{
	text-decoration: none;
	color: #FCB3B3;
	font-size: 1.7em;
}
#cv a:hover, #projects a:hover
{
	text-decoration: none;
	color: white;
}
.skillsSquare
{
	text-align: center;
	border: 2px solid #bad1d1;
	border-radius: 5px;
}

.animDev
{
	text-align: center;
	justify-content: center;
}

.animDev p
{
	white-space:nowrap;
	overflow:hidden;
	font-family: "Courier";

}

/*Animation of the word "Development" in the development section*/
@keyframes type{
	from { width: 0; }
}

@-webkit-keyframes type{
	from { width: 0; }
}

.animDev p span
{
	animation: blink 1s infinite;
	-webkit-animation: blink 1s infinite;
	font-family: "Courier";
}
@-webkit-keyframes blink {
	to{opacity: .0;}
}
@keyframes blink{
	to{opacity: .0;}
}


.squares
{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;

}

.colour1
{
	background-color: #647277;
}
.colour2
{
	background-color: #bad1d1;
}



/********************************Work on the section work****************************************/
#sectionsWork{
	margin-top: 50px;
}

.carousel
{
	position: fixed;
}

.carousel-indicators{
	bottom:5px;
}

.glyphicon{
	padding-top: 20px;
}

.item img{
	margin: auto;
}

#work h4, #work p
{
	text-align: center;
	margin-bottom: 40px;
}

.work-thumb-container
{
	transition: top 0.35s;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}

.work-thumb-overlay
{
	opacity: 0.9;
	height: 100%;
	width: 100%;
	transition: top 0.35s, opacity 0.35s;
	position: absolute;
	overflow-x: hidden;
}

.work-thumb-content
{
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.work-thumb-content h3
{
	color: #bad1d1;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
	left: 0;
	right: 0;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.7s;
	font-weight: bold;
}

#sectionsWork .row
{
	overflow: hidden;
}
article.project-thumb:hover img {
  top: -10px;
}

article.project-thumb:hover .work-thumb-overlay {
  bottom: 0;
  opacity: 0;
}

article.project-thumb h3
{
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.7s;
}

article.project-thumb:hover h3
{
	bottom: 0;
	opacity: 1;
	background-color: #bad1d1;
	color: white;
	width: 100%;
}


/********************************Work on the section contact****************************************/
#contact
{
	background-color: white;
	border: 2px dotted #FCB3B3;
}
#contact p
{
	text-align: center;
	margin-bottom: 70px;
	font-size: 1.2em;
}
form label, form input, form textarea
{
	color: black;
	font-family: courier;
}
form input:focus, form textarea:focus
{
	box-shadow: 1px 1px 1px 1px #FCB3B3;
	outline-color: transparent;
}
.envoi
{
	
	text-align: center;
	font-family: courier;
	width: 110px;
	height: 40px;
	background-color: white;
	color: #FCB3B3;
	border: 2px dotted #FCB3B3;
}
.envoi:hover
{
	color: white;
	border: 2px solid white;
	background-color: #FCB3B3;
}
textarea
{
	width: 70%;
	height: 100px;
}

/********************************Work on the footer****************************************/
#footer-social
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#footer-social .fa
{
	color: black;
}
#footer-social a :hover
{
	color: #FCB3B3;
}

/*********************************************************************************************************************************************************/
/***********************************************************   CV Page general style   *******************************************************************/
/*********************************************************************************************************************************************************/


/*Work on the header*/
#titreCv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#header-CV{
	position: relative;
	height: 100vh;
}
/*Working on the triangles at bottom of the header*/
#crans {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	overflow-x: hidden;
	position: absolute;
	bottom:-1px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
}

/*Work on the second section: education: making arrows*/
.etiquetteBtn{
	color: #647277;
}
.etiquetteBtn:hover, .etiquetteBtn:focus{
	color: white;
	text-decoration: none;
}

.etiquettel{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.etiquetter{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.etiquetteTxt
{
	text-align: center;
	background-color: #bad1d1;
	width: 200px;
	height: 60px;
}
.etiquetteTxt h3
{
	font-size: 2em;
	margin: 0;
	line-height: 2.0;
}
.arrowLeft
{
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #bad1d1;
}
.arrowRight
{
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #bad1d1;
}

/*Work on the second section with experience, skills and education*/
#cvEducation, #skillsCv, #experienceCv{
	border: dotted 1px #bad1d1;
}

.expDetails{
	display: flex;
}

#cvEducation{
	padding-left: 10px;
}

#cvSchools, #cvCompanies{
	display: flex;
	flex-direction: column;
}

.dateCv, .dateExpCv{
	color: #647277;
	font-size: 2em;
	font-weight: bold;
}

.progress{
	border-radius: 25px;
	width: 50%;
}

.progress-bar{
	width: 0;
}

/*Animation of the progress bars when you hover it*/
.barhover{
	transition: background 2000ms, width 2000ms;
	-moz-transition: background 2000ms, width 2000ms;
	-webkit-transition: background 2000ms, width 2000ms;
}

/*Button in order to download my CV*/
#CVButton{
	text-align: center;
	margin-bottom: 30px;
}

#CV-download{
	text-decoration: none;
	font-size: 2em;
	text-align: center;
	font-family: courier;
	width: 300px;
	height: 60px;
	background-color: white;
	color: #FCB3B3;
	border: 2px dotted #FCB3B3;
}

#CV-download:hover
{
	color: white;
	border: 2px solid white;
	background-color: #FCB3B3;
}


/*********************************************************************************************************************************************************/
/***********************************************************   Project Page general style   *******************************************************************/
/*********************************************************************************************************************************************************/
#container-projects
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
#header-project{
	position: relative;
	height: 100vh;
}
#project_skills{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 90px;
}
.project-list{
	list-style: none;
	margin-top: 30px;
}
.project-list li{
	padding-bottom: 20px;
}
/*Create the parallax effect with different background on the slides*/
.parallax-slide{
	width: 100%;
}
#project_intro p{
	text-align: center;
}
.project_txt{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.theProject{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.link{
	color: #FCB3B3;
	text-decoration: none;
}
/*Section of wordpress websites*/
#carousel-wordpress{
	width: 50%;
}
#carousel-wordpress .carousel{
	position: relative;
	height: 400px;
}
.wordpressImg, #carousel-wordpress .WPcarousel-inner, .item-wordpress, .item-wordpress a{
	height: 400px !important;
}
#controls{
	position: relative;
}
.WPcarousel-control{
	position: absolute;
	height: 400px;
	background-color: transparent;
	top:inherit;
}
.WPcarousel-control.left{
	background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
}
.WPcarousel-control.right{
	background-image: linear-gradient(to left,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
}
/*Create an effect on the logo: like a small ball with logos inside*/
#logo-project{
	background: white;
	border-radius: 10%;
	display: flex;
	flex-direction: column;
}

#logoCreation{
	display: inline-block;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}

.img-round:before {
	   content: "";
	   position: absolute;
	   top: 1%;
	   left: 5%;
	   border-radius: 50%;
	   background: radial-gradient(circle at 35% 0px, #ffffff, rgba(255, 255, 255, 0) 30%);
	   -webkit-filter: blur(5px);
	   z-index: 2;
   }
.img-round:after {
	content: "";
	position: absolute;
	border-radius: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle at 50% 30%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 50%, white 100%);
}

#img-logo1{
	background: url('images/foxdev.jpg') center no-repeat ;
	display: inline-block;
	margin: 0;
	border-radius: 50%;
	position: relative;
	background-size: cover;
}

#img-logo2{
	background: url('images/smokegreypink.png') center no-repeat, white ;
	display: inline-block;
	margin: 0;
	border-radius: 50%;
	position: relative;
	background-size: cover;
}
.item-avatar img, .item-logo img{
	margin: auto;
}
.dia-avatars, .dia-logo{
	width: 400px;
}
.btn-close{
	z-index: 100;
	position: absolute;
	top:-40px;
	font-size: 3em;
	right: 0;
	opacity: 1;
	color: white;
}

/*Last section with the mini projects*/
.img-mini{
	width: 150px;
	height: 150px;
}

.mini-project-txt{
	display: flex;
	flex-direction: column;
	width: 200px;
}
