/*body
{
	cursor: url("images/cursor3.png"), pointer;
}*/
.container-fluid
{
	font-family: 'Roboto', 'Poppins', sans-serif;
	width: auto;
}
.row
{
	margin: 0;
}
section
{
	margin-bottom: 40px;
}
h2
{
	font-family: Courier;
	font-style: oblique;
}
h4
{
	font-size: 1.8em;
}
/*************************************Work on the header for all formats********************************/
header
{
	background-image: repeating-linear-gradient(#647277, #6E8A94, #F3ECD9);
}
h1
{
	color: white;
	text-align: center;
}
#hautdepage
{
	display: flex;
	justify-content: center;
	align-content: center;
}
/*Work on the navigation bar*/
.navbar
{
	width: 100%;
	z-index: 20;
}
.navbar-brand
{
	color: #647277;
	font-family: courier;
}
.navbar-brand:hover
{
	color: white;
}
.navbar-nav a
{

	color: #647277;
	font-family: courier;
}
.navbar-nav a:hover
{
	color:  #FCB3B3!important;
	background-color: #F3ECD9 !important;

}
.btn-navbar
{
	color: #FCB3B3 !important;
}

.navbar-nav li
{
	text-align: center;
}
#titre
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#learn
{
	color: white;
	border: 2px solid white;
	background-color: transparent;
	text-align: center;
	font-family: courier;
}
#learn:hover
{
	background-color: #FCB3B3;
}

#btntop
{
	position: fixed;
	color: #4a4a4a;
	opacity: 0.7;
	z-index: 2;
}

/********************************Work on the section Intro****************************************/
#introtxt p, #introtxt h2
{
	text-align: center;
	width: 80%;
}

#introtxt p a
{
	text-decoration: none;
	color: #647277;
}
/********************************Work on the section numbers****************************************/
#container-numbers
{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
#numbers
{
	background-color: #bad1d1;
	text-align: center;

	
}
#numbers a
{
	text-decoration: none;
	color: #647277;
}
#numbers .fa
{
	color: white;
}

/********************************Work on the section skills****************************************/
#skillstitre
{
	margin-bottom: 50px;
}
#cv
{
	display: flex;
	justify-content: center;
}
#skillstitre p, #cv
{
	text-align: center;
}
#cv a
{
	text-decoration: none;
	color: #FCB3B3;
	font-size: 1.7em;
}
#cv a:hover
{
	text-decoration: none;
	color: white;
}
.skillssquare
{
	text-align: center;
	border: 2px solid #bad1d1;
	border-radius: 5px;
}

.animdev
{
	text-align: center;
	justify-content: center;
}

.animdev p
{
	white-space:nowrap;
	overflow:hidden;
	font-family: "Courier";

}
/*Animation of the word "Development" in the development section*/
@keyframes type{
	from { width: 0; }
}

@-webkit-keyframes type{
	from { width: 0; }
}

.animdev p span
{
	animation: blink 1s infinite;
	-webkit-animation: blink 1s infinite;
	font-family: "Courier";
}
@-webkit-keyframes blink {
	to{opacity: .0;}
}
@keyframes blink{
	to{opacity: .0;}
}


.squares
{
	display: flex;
	justify-content: flex-end;
	align-items: baseline;

}

.colour1
{
	background-color: #647277;
}
.colour2
{
	background-color: #bad1d1;
}



/********************************Work on the section work****************************************/
.carousel
{
	position: fixed;
}

#work h4
{
	text-align: center;
	margin-bottom: 40px;
}
.work-thumb-container
{
	transition: top 0.35s;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}
.work-thumb-overlay
{
	opacity: 0.9;
	height: 100%;
	width: 100%;
	transition: top 0.35s, opacity 0.35s;
	position: absolute;
	overflow-x: hidden;
}

.work-thumb-content
{
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}
.work-thumb-content h3
{
	color: #bad1d1;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
	left: 0;
	right: 0;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.7s;
	font-weight: bold;
}
#sectionsWork .row
{
	overflow: hidden;
}
article.project-thumb:hover img {
  top: -10px;

}
article.project-thumb:hover .work-thumb-overlay {
  bottom: 0;
  opacity: 0;
}
article.project-thumb h3
{
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.7s;
}
article.project-thumb:hover h3
{
	bottom: 0;
	opacity: 1;
	background-color: #bad1d1;
	color: white;
	width: 100%;
}


/********************************Work on the section contact****************************************/
#contact
{
	background-color: white;
	border: 2px dotted #FCB3B3;
}
#contact p
{
	text-align: center;
	margin-bottom: 70px;
	font-size: 1.2em;
}
form label, form input, form textarea
{
	color: black;
	font-family: courier;
}
form input:focus, form textarea:focus
{
	box-shadow: 1px 1px 1px 1px #FCB3B3;
	outline-color: transparent;
}
.envoi
{
	
	text-align: center;
	font-family: courier;
	width: 110px;
	height: 40px;
	background-color: white;
	color: #FCB3B3;
	border: 2px dotted #FCB3B3;
}
.envoi:hover
{
	color: white;
	border: 2px solid white;
	background-color: #FCB3B3;
}
textarea
{
	width: 70%;
	height: 100px;
}

/********************************Work on the footer****************************************/
#footer-social
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

#footer-social .fa
{
	color: black;
}
#footer-social a :hover
{
	color: #FCB3B3;
}

/*********************************************************************************************************************************************************/
/***********************************************************   CV Page general style   *******************************************************************/
/*********************************************************************************************************************************************************/


/*Work on the header*/
#titrecv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#crans {
	display: flex;
	justify-content: flex-start;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid white;
}