/**************************************************************************************************************************/
/*************									ECRAN PETITS SMARTPHONE				    ***********************************/
/**************************************************************************************************************************/
@media (max-width: 767px)
{/**Pour écrans petits type petits smartphone**/
	.container-fluid, .container
	{
		width: auto;
		margin: auto;
	}
	
	header
	{
		background-image: repeating-linear-gradient(#647277, #6E8A94, #F3ECD9);
		height: 100vh;
		width: auto;
	}
	h1
	{
		font-size: 3em;
		height: 70px;
		margin-bottom: 50px;

	}
	h2
	{
		font-size: 2em;

	}
	section
	{
		margin-bottom: 50px;
	}
/*Work on the navigation bar*/
	.container
	{
		height: 100px;
	}

	.side-collapse 
	{
	  width:100%;
	  overflow:hidden;
	  transition:width .4s;
	}
	.side-collapse.in 
	{
		width:0;
		height: 0;
		
	}
	#navigation
	{
		height: 100vh;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		background-image: repeating-linear-gradient(#647277,#6E8A94, #F3ECD9);
	}
	#navigation ul li
	{
		font-size: 2em;
	}
	.navbar-brand
	{
		font-size: 2em;
		color: #F3ECD9;
	}
	
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;

	}
	#btntop
	{
		top: 85%;
		left: 85%;
	}
/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox2 
	{
		text-align: center;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}
	#container-numbers
	{
		margin-bottom: 50px;
		height: auto;
	}
	.num2
	{
		background-color: #6e8a94 ;
	}
	#numbers
	{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
/********************************Work on the section skills****************************************/
	.skillssquare
	{
		height: 370px;
		text-align: center;
		margin-bottom: 50px;
		width: 100%;
	}
	.animdev
	{
		text-align: center;
		justify-content: center;
		background-color: #bad1d1;
		color: white;
		height: 50px;
		margin-top: 10%;

	}
	.animdev p
	{
		width: 100%;
		font-size: 1.5em;
	}
	.skillssquare h2
	{
		font-size: 1.8em;
		margin-bottom: 30px;
	}
	.skillslist
	{
		width:100%;

	}
	.squares
	{
		margin-bottom: 10px ;
		justify-content: flex-start;
	}
	.squares p
	{
		font-size: 0.8em;
		margin-right: 20px;
	}
	.squares .colour1, .squares .colour2
	{
		width: 20px;
		height: 20px;
		margin:0;
	}
	#humanskills .skillslist
	{
		width:100%;
	}
	#humansquares
	{
		padding-bottom: 10px;
	}

	.skillssquare .visible-xs
	{
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		padding-top: 10px;
		overflow: hidden;
	}
	.visible-xs
	{
		text-align: center;
		text-align: -webkit-center;
	}
	.skills p, .squares
	{
		width: 50%;
	}
/********************************Work on the section work****************************************/
	.bloc11, .bloc22, .bloc1, .bloc2
	{
		height: 250px;
	}
	#sectionWork
	{
		height: 1000px;
	}
	#travel .work-thumb-overlay, #travel .work-thumb-container
	{
		background-color: #647277;
	}
	#avatar .work-thumb-overlay, #avatar .work-thumb-container, #flower .work-thumb-overlay, #flower .work-thumb-container
	
	{
		background-image: repeating-linear-gradient(#647277, #bad1d1);
	}

	#BDay .work-thumb-overlay, #BDay .work-thumb-container, #ananas .work-thumb-overlay, #ananas .work-thumb-container
	{
		background-image: repeating-linear-gradient(#bad1d1,#FCB3B3);
	}
	#profilFR .work-thumb-overlay, #profilFR .work-thumb-container
	{
		background-color: #FCB3B3;
	}
	#sectionsWork
	{
		overflow: hidden;
		background-image: repeating-linear-gradient(#647277, #bad1d1,#FCB3B3);
	}
	.work-thumb-content h2
	{
		height: 30px;
	}


/********************************Work on the section contact****************************************/
	#footer-social
	{
		flex-direction: row;
	}
	#footer-social .fa
	{
		margin: 10px;

	}
	form
	{
		width: 100%;
	}
	form label, form input, form textarea
	{
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 1.2em;
	}
}
/***********************************************************************************************************************************/
/*************									ECRAN SMARTPHONE						********************************************/
/***********************************************************************************************************************************/

@media (min-width: 768px)
{/**Pour écrans petits type smartphone**/
	.container-fluid
	{
		width: 750px;
	}
	.btn-navbar
	{
		display: none;
	}
	h1
	{
		font-size: 3em;

	}
	h2
	{
		font-size: 2em;

	}
	h3
	{
		font-size: 1.5em;
	}
	section
	{
		margin-bottom: 100px; 
	}
	/******************Header and nav**************/
	header
	{
		height: 100vh;
	}
	#titre{
		margin-top: 10%;
	}
	.container
	{
		height: 50px;
		width: 750px;
	}
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	
	}
	.navbar-brand
	{
		font-size: 2em;
		flex: 1;
	}
	.navbar-nav
	{
		flex: 4;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		margin-left: 5px;
	
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 10px;

	}
	#btntop
	{
		top: 85%;
		left: 95%;
	}
/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 50%;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		margin-bottom: 150px;
		height: 150px;
	}
	#container-numbers section
	{
		margin: 0;
	}
	/********************************Work on the section skills****************************************/
	.colour1, .colour2, .skills p
	{
		margin: 10px;
	}

	.skills p
	{
		height: 30px;
	}
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
	}
	.skillslist
	{
		width: 90%;
	}
	.animdev
	{
		height: 100%;
	}
	.animdev p
	{
		height: 100%;
		width: 250px;
		font-size: 1.5em;
		margin-top: 50%;
	}
	.skillssquare
	{
		height: 310px;
		margin-bottom: 50px;
	}
	.humanimg
	{
		width: 100%;

	}
	.designimg
	{
		margin-top: 10%;
		width: 130%;
	}
	.skills p, .squares
	{
		width: 100%;
	}
	/********************************Work on the section work****************************************/
	.bloc1, .bloc2
	{
		height: 180px;
	}
	
	#travel .work-thumb-overlay, #travel .work-thumb-container, #avatar .work-thumb-overlay, #avatar .work-thumb-container, #flower .work-thumb-overlay, #flower .work-thumb-container
	{
		background-image: repeating-linear-gradient(#647277, #bad1d1);
	}

	#BDay .work-thumb-overlay, #BDay .work-thumb-container, #ananas .work-thumb-overlay, #ananas .work-thumb-container, #profilFR .work-thumb-overlay, #profilFR .work-thumb-container
	{
		background-image: repeating-linear-gradient(#bad1d1,#FCB3B3);
	}
	#sectionsWork
	{
		overflow: hidden;
		background-image: repeating-linear-gradient(#647277, #bad1d1,#FCB3B3);
	}
	
	.work-thumb-content h2
	{
		font-size: 1.5em;
		height: 60px;
	}  
	article.project-thumb h2
	{
		height: 60px;
	}

	/********************************Work on the section contact****************************************/
	#footer-social
	{
		flex-direction: row;
	}
	#footer-social .fa
	{
		margin: 30px;

	}
	form
	{
		width: 80%;
	}
	form label, form input, form textarea
	{
		margin-left: 100px;
		margin-bottom: 20px;
		margin-top: 10px;
		font-size: 1.2em;
	}

}




/****************************************************************************************************************************************/
/*************									ECRAN TABLETTES  						*************************************************/
/****************************************************************************************************************************************/


@media (min-width: 992px)
{/**Pour écrans moyens type tablettes**/
	.container-fluid
	{
		width: 970px;
		
	}
	section
	{
		margin-bottom: 150px; 
	}
	.btn-navbar
	{
		display: none;
	}
	h1
	{
		font-size: 3.9em;
		height: 100px;
		margin-top: 0;
	}
	/******************Header and nav**************/
	.container
	{
		height: 50px;
		width: 970px;
	}
	#hautdepage
	{
		display: block;
	}

	header
	{
		height: 100vh;
	}
	#titre{
		margin-top: 10%;
	}
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	
	}
	.navbar-brand
	{
		flex: 1;
	}
	.navbar-nav
	{
		flex: 3;
		margin-left: 5%;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		height: 100%;
	
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 20px;

	}
	/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 30%;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		height: 200px;
	}

	#container-numbers section
	{
		margin: 0;
	}
	/********************************Work on the section skills****************************************/
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
		margin: 10px;

	}
	.skillslist
	{
		width: 50%;
	}

	.animdev p
	{
		width: 320px;
		font-size: 2.0em;
		margin-top: 30%;
	}
	.skillssquare
	{
		height: 350px;
		margin-bottom: 50px;
	}
	.humanimg
	{
		width: 80%;

	}
	/********************************Work on the section work****************************************/
	.bloc1, .bloc2
	{
		height: 300px;
	}
	.work-thumb-content h2
	{
		font-size: 1.5em;
	}  
	#footer-social
	{
		text-align: center;
		flex-direction: column;


	}


}




/*************************************************************************************************************************************/
/*************									ECRAN ORDI      						**********************************************/
/*************************************************************************************************************************************/



@media (min-width: 1200px) 
{	/**Pour écrans larges**/
	.container
	{
		width: 1170px;
	}
	.container-fluid
	{
		width: 1170px;
	}
	section
	{
		margin-bottom: 150px; 
	}
	
/*************************************Work on the header********************************/
	header
	{
		height: 100vh;
	}
	h1
	{
		font-size: 5.5em;
		height: 150px;


	}
	#hautdepage
	{
		display: block;
	}
	/*Work on the navigation bar*/
	.btn-navbar
	{
		display: none;
	}
	.navbar-header
	{
		width: 100%;
	}
	.navbar-brand
	{
		font-size: 3em;
	}
	
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
		height: 100%;
	
	}
	.navbar-brand
	{
		flex: 1;
	}
	.navbar-nav
	{
		flex: 4;
		margin-left: 3%;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		margin-right: 60px;
		height: 100%;
	}
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
	}

/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 30px;
		margin-bottom: 70px;
	}
	#fox img
	{

		margin-top: 20px;

	}
	#introtxt p, #introtxt h2
	{
		text-align: center;
		width: 80%;
	}

/********************************Work on the section numbers****************************************/
	#container-numbers
	{
		margin-bottom: 150px;
		height: 250px;
	}
	#container-numbers section
	{
		margin: 0;
		height: 100%;
	}
	#numbers
	{
		height: 100%;

	}
	#numbers .col-lg-3
	{
		margin-top: 60px;
	}
/********************************Work on the section skills****************************************/
	.colour1, .colour2
	{
		width: 20px;
		height: 20px;
		margin: 15px;

	}
	.skillslist
	{
		width: 50%;
	}
	.skillssquare
	{
		height: 400px;

	}

	.skillssquare
	{
		height: 400px;
		text-align: center;
		margin-bottom: 50px;
		width: 100%;
	}
	.animdev
	{
		height: 50px;

	}
	.animdev p
	{
		width: 100%;
		font-size: 1.5em;
		margin-top: 10px;

	}
	#devskills h2, #designskills h2, #humanskills h2
	{
		font-size: 1.8em;
		margin-bottom: 30px;
	}
	.squares
	{
		margin-bottom: 10px ;
		justify-content: flex-start;
	}
	.squares p
	{
		font-size: 1.1em;
		margin-right: 20px;
	}
	.squares .colour1, .squares .colour2
	{
		width: 20px;
		height: 20px;
		margin:10px;
	}

/********************************Work on the section work****************************************/

	.bloc1, .bloc2
	{
		height: 300px;
	}
	.work-thumb-content h2
	{
		font-size: 1.5em;
	}  

/********************************Work on the footer****************************************/
	#footer-social
	{
		text-align: center;

	}


}