/**************************************************************************************************************************/
/*************									ECRAN PETITS SMARTPHONE				    ***********************************/
/**************************************************************************************************************************/
@media (max-width: 767px)
{/**Pour écrans petits type petits smartphone**/
	.container-fluid
	{
		width: auto;
	}
	
	header
	{
		background-image: repeating-linear-gradient(#647277, #6E8A94, #F3ECD9);
		height: 100vh;
	}
	h1
	{
		font-size: 3em;
		height: 70px;
		margin-bottom: 50px;

	}
	h2
	{
		font-size: 2em;

	}
/*Work on the navigation bar*/
	.container
	{
		height: 100px;
		width: auto;
	}

	.side-collapse 
	{
	  width:100%;
	  position:relative;
	  overflow:hidden;
	  transition:width .4s;
	}
	.side-collapse.in 
	{
		width:0;
		
	}
	#navigation
	{
		height: 100vh;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		background-image: repeating-linear-gradient(#647277,#6E8A94, #F3ECD9);
	}
	#navigation ul li
	{
		font-size: 2em;
	}
	.navbar-brand
	{
		font-size: 2em;
		color: #F3ECD9;
	}
	
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;

	}

/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox2 
	{
		text-align: center;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}

/********************************Work on the section skills****************************************/


/********************************Work on the section work****************************************/
	.bloc11, .bloc22, .bloc1, .bloc2
	{
		height: 300px;
	}
	#sectionWork
	{
		height: 1000px;
	}
	#travel .work-thumb-overlay, #travel .work-thumb-container
	{
		background-color: #647277;
	}
	#avatar .work-thumb-overlay, #avatar .work-thumb-container, #flower .work-thumb-overlay, #flower .work-thumb-container
	
	{
		background-image: repeating-linear-gradient(#647277, #bad1d1);
	}

	#BDay .work-thumb-overlay, #BDay .work-thumb-container, #ananas .work-thumb-overlay, #ananas .work-thumb-container
	{
		background-image: repeating-linear-gradient(#bad1d1,#FCB3B3);
	}
	#profilFR .work-thumb-overlay, #profilFR .work-thumb-container
	{
		background-color: #FCB3B3;
	}
	#sectionsWork
	{
		overflow: hidden;
		background-image: repeating-linear-gradient(#647277, #bad1d1,#FCB3B3);
	}

}

/***********************************************************************************************************************************/
/*************									ECRAN SMARTPHONE						********************************************/
/***********************************************************************************************************************************/

@media (min-width: 768px)
{/**Pour écrans petits type smartphone**/
	.container-fluid
	{
		width: 750px;
	}
	.btn-navbar
	{
		display: none;
	}
	h1
	{
		font-size: 3em;
		height: 70px;
	}
	h2
	{
		font-size: 2em;

	}
	h3
	{
		font-size: 1.5em;
	}
	/******************Header and nav**************/
	.container
	{
		height: 60px;
		width: 750px;
	}
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
	
	}
	.navbar-brand
	{
		font-size: 2em;
		flex: 1;
	}
	.navbar-nav
	{
		flex: 4;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		margin-bottom: 10px;
		margin-left: 5px;
	
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 10px;

	}
/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 50%;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/
	.bloc1, .bloc2
	{
		height: 180px;
	}
	
	#travel .work-thumb-overlay, #travel .work-thumb-container, #avatar .work-thumb-overlay, #avatar .work-thumb-container, #flower .work-thumb-overlay, #flower .work-thumb-container
	{
		background-image: repeating-linear-gradient(#647277, #bad1d1);
	}

	#BDay .work-thumb-overlay, #BDay .work-thumb-container, #ananas .work-thumb-overlay, #ananas .work-thumb-container, #profilFR .work-thumb-overlay, #profilFR .work-thumb-container
	{
		background-image: repeating-linear-gradient(#bad1d1,#FCB3B3);
	}
	#sectionsWork
	{
		overflow: hidden;
		background-image: repeating-linear-gradient(#647277, #bad1d1,#FCB3B3);
	}

}




/****************************************************************************************************************************************/
/*************									ECRAN TABLETTES  						*************************************************/
/****************************************************************************************************************************************/


@media (min-width: 992px)
{/**Pour écrans moyens type tablettes**/
	.container-fluid
	{
		width: 970px;
		
	}
	.btn-navbar
	{
		display: none;
	}
	/******************Header and nav**************/
	.container
	{
		height: 100px;
		width: 970px;
	}
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
	
	}
	.navbar-brand
	{
		flex: 1;
	}
	.navbar-nav
	{
		flex: 3;
		margin-left: 32px;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		margin-bottom: 10px;
	
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
		margin-bottom: 20px;

	}
	/*************************Section intro**********************/
	#intro
	{
		margin-top: 20px;
		margin-bottom: 70px;
	}
	#fox
	{
		height: 100%;
		text-align: center;
	}
	#fox img
	{
		margin-top: 30%;
	}
	#introtxt p, #introtxt h2
	{
		width: 100%;
	}
	
	#introtxt p
	{
		font-size: 1.3em;
	}

	/********************************Work on the section numbers****************************************/

	/********************************Work on the section work****************************************/
	.bloc1, .bloc2
	{
		height: 235px;
	}
	

}




/*************************************************************************************************************************************/
/*************									ECRAN ORDI      						**********************************************/
/*************************************************************************************************************************************/



@media (min-width: 1200px) 
{	/**Pour écrans larges**/
	.container
	{
		width: 1170px;
	}
	.container-fluid
	{
		width: 1170px;
	}
	
/*************************************Work on the header********************************/
	header
	{
		height: 100vh;
	}
	h1
	{
		font-size: 5.5em;
		height: 150px;
		margin-top: 80px;

	}
	/*Work on the navigation bar*/
	.btn-navbar
	{
		display: none;
	}
	.navbar-header
	{
		width: 100%;
	}
	.navbar-brand
	{
		font-size: 3em;
		/*width: 20%;*/
	}
	
	#navigation
	{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		width: 100%;
	
	}
	.navbar-brand
	{
		flex: 1;
	}
	.navbar-nav
	{
		flex: 3;
	}
	.navbar-nav li
	{
		font-size: 1.5em;
		margin-bottom: 10px;
		margin-right: 60px;
	}
	#titre
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#learn
	{
		font-size: 1.5em;
		margin-top: 50px;
	}

/********************************Work on the section Intro****************************************/
	#intro
	{
		margin-top: 30px;
		margin-bottom: 70px;
	}
	#fox img
	{

		margin-top: 20px;

	}
	#introtxt p, #introtxt h2
	{
		text-align: center;
		width: 80%;
	}

/********************************Work on the section numbers****************************************/

/********************************Work on the section skills****************************************/

/********************************Work on the section work****************************************/

.bloc1, .bloc2
{
	height: 300px;
}



}