/*********************************************************************************************************************************************************/
/***********************************************************  Projects Page in responsive   *******************************************************************/
/*********************************************************************************************************************************************************/


/**************************************************************************************************************************/
/*************									SMALL SMARTPHONE SCREENS			    ***********************************/
/**************************************************************************************************************************/
@media (max-width: 767px) {
	/**For small creens of smartphones**/
	.container-fluid, .container {
		width: auto;
		margin: auto;
	}
	section {
		margin-bottom: 50px;
	}

	/*Work on the header*/
	.navbar
	{
		background-color: transparent;
	}
	header {
		height: 100vh;
	}
	h1{
		height: 50px;
		margin-bottom: 30px;
	}

	/*Work on all the sections */
	.parallax-slide{
		width: 100%;
	}
	#slide1{
		border-top: none;
	}
	.img-desktop{
		width: 250px;
	}
	.theProject{
		justify-content: center;
	}
	.project_txt{
		justify-content: center;
		text-align: center;
	}
	.project_txt ul{
		text-align: left;
	}

	/*Work on the fourth section with logos*/

	#logoCreation{
		text-align: center;
	}
	.img-round:before {
		width: 100px;
		height: 100px;
	}
	.img-round:after {
		height:100px;
		width: 100px;
	}
	#img-logo1{
		width: 100px;
		height: 100px;
	}
	#img-logo2{
		width: 100px;
		height: 100px;
	}
	#img-logo3{
		width: 100px;
		height: 100px;
	}
	/*Section of wordpress websites*/
	#carousel-wordpress{
		width: 100%;
	}

	#carousel-wordpress .carousel{
		position: relative;
		height: 220px;
	}
	.wordpressImg, #carousel-wordpress .WPcarousel-inner, .item-wordpress, .item-wordpress a{
		height: 220px !important;
	}
	#controls{
		position: relative;
	}
	.WPcarousel-control{
		position: absolute;
		height: 220px;
		background-color: transparent;
		top:inherit;
	}
	.WPglyphicon{
		padding: 0;
	}
	/*Work on the last section with the mini projects*/
	.mini-project{
		width: 310px;
		margin-bottom: 70px;
		text-align: center;
	}

	.mini-list{
		text-align: left;
	}

	.mini-project div{
		padding: 10px;
	}
	.mini-project-txt{
		width: auto;
		display: block;
	}
	.mini-project{
		height: 400px;
	}

	/*Work on the footer*/
	#footer-social {
		display: flex;
		flex-direction: row;
		justify-content: center;

	}



}



/***********************************************************************************************************************************/
/*************									SMARTPHONE SCREENS						********************************************/
/***********************************************************************************************************************************/

@media (min-width: 768px) {
	/**For small screens like smartphones **/


	.btn-navbar {
		display: none;
	}



	/******************Header and nav**************/
	header {
		height: 100vh;
	}
	#titreCv {
		padding-top: 110px;
	}
	.container-fluid, .container {
		width: auto;
		margin: auto;
	}
	h1{
		height: 70px;
		margin-bottom: 50px;
	}


	/*Work on all the sections */
	.parallax-slide{
		width: 100%;
		border-top: 2px dotted #FCB3B3;
	}
	#slide1{
		border-top: none;
	}
	.img-desktop{
		width: 400px;
	}
	.project_txt div{
		width: 250px;
		padding-left: 10px;
	}
	.project_txt{
		justify-content: flex-start;

	}
	/*Work on the fourth section with logos*/
	#logo-project div{
		padding: 20px;
	}

	.img-round:before {
		width: 130px;
		height: 130px;
	}
	.img-round:after {
		height:130px;
		width: 130px;
	}
	#img-logo1{
		width: 130px;
		height: 130px;
	}
	#img-logo2{
		width: 130px;
		height: 130px;
	}
	#img-logo3{
		width: 130px;
		height: 130px;
	}
	.theProject{
		justify-content: space-around;
	}
	/*Section of wordpress websites*/
	#carousel-wordpress{
		width: 90%;
	}

	#carousel-wordpress .carousel{
		height: 400px;
	}
	.wordpressImg, #carousel-wordpress .WPcarousel-inner, .item-wordpress, .item-wordpress a{
		height: 400px !important;
	}

	.WPcarousel-control{
		height: 400px;
	}
	/*Work on the last section with the mini projects*/
	.mini-project{
		width: auto;
		display: flex;
		height: auto;
		margin-bottom: 50px;
	}


	/*Work on the footer*/
	#footer-social {
		display: flex;
		flex-direction: row;
		justify-content: center;
		}

}



/****************************************************************************************************************************************/
/*************									TABLETS SCREENS  						*************************************************/
/****************************************************************************************************************************************/


@media (min-width: 992px) {
	/**For middle screens like tablets**/
	.container-fluid {
		width: 970px;
	}

	section {
		height:100vh;
		width: 100%;
		margin-bottom: 0;
	}

	.btn-navbar {
		display: none;
	}

	/******************Header**************/
	.container {
		height: 50px;
		width: 970px;
	}
	header{
		height: 100vh;
	}
	h1{
		height: 90px;
		margin-bottom: 50px;
	}

	/*Work on all the sections */
	.parallax-slide{
		width: 100%;
		height: 600px;
		border-top: 2px dotted #FCB3B3;
	}
	#slide1{
		border-top: none;
	}
	.img-desktop{
		width: 400px;
	}
	.project_txt div{
		width: 300px;
		padding-left: 20px;
	}


	/*Work on the fourth section with logos*/
	#logo-project{
		width: 500px;
		margin-left: -200px;
	}
	#logo-project div{
		padding: 20px;
	}
	#logoCreation{
		width: 200px;
		margin-left: 150px;
	}
	.img-round:before {
		width: 130px;
		height: 130px;
	}
	.img-round:after {
		height:130px;
		width: 130px;
	}
	#img-logo1{
		width: 130px;
		height: 130px;
	}
	#img-logo2{
		width: 130px;
		height: 130px;
	}
	/*Section of wordpress websites*/
	#carousel-wordpress{
		width: 100%;
	}
	#carousel-wordpress .carousel{
		height: 400px;
	}
	.wordpressImg, #carousel-wordpress .WPcarousel-inner, .item-wordpress, .item-wordpress a{
		height: 400px !important;
	}

	.WPcarousel-control{
		height: 400px;
	}
	/*Work on the last section with the mini projects*/
	.mini-project{
		width: 300px;
		display: flex;
		flex-direction: column;
		height: 400px;
		margin-bottom: 50px;
	}

	/*Work on the footer*/
	#footer-social {
		display: flex;
		flex-direction: row;
		justify-content: center;

	}

}
/*************************************************************************************************************************************/
/*************									DESKTOP SCREEN     						**********************************************/
/*************************************************************************************************************************************/

@media (min-width: 1200px) {
	/**For large screens**/
	.container {
		width: 1170px;
	}

	.container-fluid {
		width: 1170px;
	}

	/*Work on the header*/
	header {
		height: 100vh;
	}
	h1{
		height: 10vh;
		margin-top: 20vh;
		margin-bottom: 70px;
	}
	#titreCv {
		padding-top: 100px;
	}

	/*Work on all the sections */
	.parallax-slide{
		width: 100%;
		height: 700px;
		border: none;
		margin-bottom: 0;
	}


	.img-desktop{
		width: 400px;
	}

	.project_txt div{
		width: 300px;
	}

	#slide2{
		 background: url("images/createsodev.png") center 0 fixed;
		 background-size: cover;
	 }

	#slide6{
		background: url("images/pineapple.png") center 0 fixed;
		background-size: contain;
	}

	#slide4 {
		background: url("images/desk.jpg") center 0 fixed;
		background-size: cover;
	}

	/*Work on the second section on sodev website*/
	#dsk_sodev{
		display: none;
	}
	#sodev_txt{
		margin-left: 700px;
	}

	/*Work on the fourth section with logos*/
	#logo-title{
		color: white;
	}
	#logo_txt{
		color: white;
	}
	#logo-project{
		width: 500px;
		margin-left: -200px;
	}
	#logo-project div{
		padding: 20px;
	}
	#logoCreation{
		width: 200px;
		margin-left: 150px;
	}

	#img-logo1, #img-logo2, .img-round:after, .img-round:before{
		width: 200px;
		height: 200px;
	}
	#img-logo2{
		margin-top: 50px;
	}
	#lightbox3{
		width:400px;
		overflow: hidden;
	}
	#lightbox4{
		width:500px;
		overflow: hidden;
	}
	.item-logo img{
		width: 300px;
	}
	.item-avatar{
		width: 300px;
	}
	/*Section of wordpress websites*/
	#carousel-wordpress{
		width: 50%;
	}
	#carousel-wordpress .carousel{
		height: 400px;
	}
	.wordpressImg, #carousel-wordpress .WPcarousel-inner, .item-wordpress, .item-wordpress a{
		height: 400px !important;
	}

	.WPcarousel-control{
		height: 400px;
	}
	/*Work on the last section with the mini projects*/
	.img-mini{
		width: 200px;
		height: 200px;
	}
	/*Work on the footer*/
	#footer-social {
		display: flex;
		flex-direction: row;
		justify-content: center;

	}
}